﻿@using FYPWeb.Service
@using FYPWeb.Services.Util
@model FYPWeb.ViewModels.PlaceOrderPrescriptionViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OMDM | Place Order</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick-theme.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/image-picker/image-picker.css">
    <link rel="stylesheet" href="~/Assets/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/toastr/toastr.css">
    <link rel="stylesheet" href="~/Assets/plugins/iCheck/square/blue.css">
    <style>
        .thumbnails.image_picker_selector  img {
            width: 128px
        }
    </style>
    <!-- AdminLTE Skins. Choose a skin from the css/skins
    folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Assets/dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-green layout-top-nav">
<div class="wrapper">
    @{
        Html.RenderPartial("~/Views/Home/Header.cshtml", Model.HeaderViewModel);
    }
    <!-- Full Width Column -->
    <div class="row">
        <div class="col-xs-12">
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-success box-solid slimScrollDiv">
                                <div class="box-header">
                                    Select your Prescriptions
                                </div>
                                <div class="box-body">
                                    <select id="Prescription" multiple="multiple"  name="Prescription" class="form-control image-picker">
                                        @foreach (var modelPrescription in Model.Prescriptions)
                                        {
                                            <option value="@modelPrescription.Id" data-img-src="@modelPrescription.PrescriptionPath"></option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="box box-success box-solid slimScrollDiv">
                                <div class="box-header">
                                    Select Pharmacy
                                </div>
                                <div class="box-body">
                                    <select class="form-control" style="width: 100%" id="PharmacyId">
                                        @foreach (var m in Model.Pharmacies)
                                        {
                                            <option value="@m.Id">@m.ShopName -- @m.ShopAddress</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-success btn-block" onclick="placeOrderFormPrescription(@SessionService.UserId)">Place Order</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                </section>
                <!-- /.content -->
            </div>
        </div><!-- /.content-wrapper -->
    </div>

    <!-- /.content-wrapper -->
    @{
        Html.RenderPartial("~/Views/Home/Footer.cshtml", null);
    }
</div>
<!-- ./wrapper -->
<!-- jQuery 3 -->
<script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Assets/bower_components/slick/slick.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="~/signalr/js"></script>

<script src="~/Assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="~/Assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/Assets/bower_components/fastclick/lib/fastclick.js"></script>
<script src="~/Assets/bower_components/toastr/toastr.js"></script>
    <script src="~/Assets/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="~/Assets/bower_components/image-picker/image-picker.js"></script>
<script src="~/Assets/plugins/iCheck/icheck.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>

<!-- AdminLTE App -->
<script src="~/Assets/dist/js/adminlte.min.js"></script>
<script src="~/Assets/Assets/js/util.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCERdN9K-zvLr6vWXL3qGh2_jQDR08_Luc&libraries=places">
</script>
<!-- AdminLTE for demo purposes -->
<script src="~/Assets/Assets/js/placeOrder.js"></script>
<script src="~/Assets/Assets/js/signalRLib.js"></script>
<script>
    $(function () {
        $("#PharmacyId").select2();
        @if (SessionService.UserId != "")
        {
            @:startSignalR('@SessionService.GetClientId()');
        }
    });

</script>

</body>
</html>
