﻿@using FYPWeb.Service
@model FYPWeb.ViewModels.PharmacistDashboardViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@SessionService.FullName | @SessionService.UserRole Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Assets/dist/css/skins/_all-skins.min.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/Assets/bower_components/morris.js/morris.css">
    <link rel="stylesheet" href="~/Assets/bower_components/toastr/toastr.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/Assets/bower_components/jvectormap/jquery-jvectormap.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/select2/dist/css/select2.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/Assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-green sidebar-mini">
    <div class="wrapper">
        @{
            Html.RenderPartial("Header", Model.PharmacistHeaderViewModel);
        }
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Dashboard
                    <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="box box-success">
                            <div class="box-header">
                                Sales By Month
                            </div>
                            <div class="box-body">
                                <canvas id="graphSalesByMonth-1" class="chartjs" height="300"></canvas>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="box box-success">
                            <div class="box-header">
                                Sales By Employee
                            </div>
                            <div class="box-body">
                                <canvas id="graphSalesByMonth-2" class="chartjs" height="300"></canvas>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <div class="box box-success with-border">
                            <div class="box-header">
                                New Pending Orders
                            </div>
                            <div class="box-body slimScrollDiv">
                                <table class="table table-responsive table-bordered">
                                    <thead>
                                        <tr>
                                            <td>Order#</td>
                                            <td>Customer</td>
                                            <td>Drop off Point</td>
                                            <td>If Prescription</td>
                                            <td>Option</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var m in Model.PendingOrders)
                                        {
                                            <tr id="row_order_@m.Id">
                                                <td>@m.Id</td>
                                                <td>@m.User</td>
                                                <td>@m.DeliveryLocation</td>
                                                <td>
                                                    @if (m.IsPrescriptionSet || !m.OrderPrescriptions.Any())
                                                    {
                                                        <span class="label label-success">Medicine Set</span>
                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-primary btn-sm" onclick="showPrescriptionSetMedicineDialog(@m.Id)">Set Medicine</button>
                                                    }
                                                </td>
                                                <td>
                                                    <button onclick="showacceptOrderDialog(@m.Id,@SessionService.UserId)" class="btn btn-success btn-sm">Accept</button>
                                                    <button onclick="showrejectOrderDialog(@m.Id)" class="btn btn-danger btn-sm">Reject</button>
                                                    <button onclick="showorderDetailDialog(@m.Id)" class="btn btn-info btn-sm">View</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box box-success with-border">
                            <div class="box-header">
                                Active Orders
                            </div>
                            <div class="box-body slimScrollDiv">
                                <table class="table table-responsive table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Order#</th>
                                            <th>Customer</th>
                                            <th>Drop off Point</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var m in Model.ActiveOrders)
                                        {
                                            <tr id="row_order_@m.Id">
                                                <td>@m.Id</td>
                                                <td>@m.User</td>
                                                <td>@(m.DeliveryLocation.Length > 20 ? m.DeliveryLocation.Substring(0, 20) + "..." : m.DeliveryLocation)</td>
                                                <td>
                                                    <button onclick="showcompleteOrderDialog(@m.Id,@SessionService.UserId)" class="btn btn-success btn-sm">Complete</button>
                                                    <button onclick="showcancelOrderDialog(@m.Id)" class="btn btn-danger btn-sm">Cancel</button>
                                                    <button onclick="showorderDetailDialog(@m.Id)" class="btn btn-info btn-sm">View</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /.row -->
            </section>  <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        @{
            Html.RenderPartial("Footer");
        }
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Assets/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/js"></script>

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <!-- Sparkline -->
    <!-- jvectormap -->
    <!-- jQuery Knob Chart -->
    <!-- daterangepicker -->
    <script src="~/Assets/bower_components/moment/min/moment.min.js"></script>
    <script src="~/Assets/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="~/Assets/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/Assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/dist/js/adminlte.min.js"></script>
    <script src="~/Assets/bower_components/toastr/toastr.js"></script>
    <script src="~/Assets/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <!-- Chart JS -->
    <script src="~/Assets/bower_components/chart.js/Chart.min.js"></script>
    <script src="~/Assets/bower_components/chart.js/chart.bundle.js"></script>
    <!-- FLOT CHARTS -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCERdN9K-zvLr6vWXL3qGh2_jQDR08_Luc&libraries=places">
    </script>


    <script src="~/Assets/Assets/js/pharmacistDashboardIndex.js"></script>
    <script src="~/Assets/Assets/js/util.js"></script>
    <script src="~/Assets/Assets/js/signalRLib.js"></script>
    <script>
    var myLabel = [];
    var myValue = [];
    @foreach (var m in Model.StringValues)
    {
        @:myLabel.push('@m.Title');
        @:myValue.push('@m.Value');
    }
    var myLabel2 = [];
    var myValue2 = [];
    @foreach (var m in Model.EmployeeStringValues)
    {
        @:myLabel2.push('@m.Title');
        @:myValue2.push('@m.Value');
    }
    $(function() {
        barChartGraph("graphSalesByMonth-1", myLabel, myValue);
        barChartGraph("graphSalesByMonth-2", myLabel2,myValue2,"Sales Per Employee");
        $(".slimScrollDiv").slimScroll({
            height: '300px'
        });
        @if (SessionService.UserId != "")
        {
            @:startSignalR('@SessionService.GetClientId()');
        }
    });
    </script>
</body>
</html>