﻿@using FYPWeb.Service
@using FYPWeb.ViewModels
@model FYPWeb.ViewModels.PharmacistHeaderViewModel
<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Index","Home")" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
            <img src="~/Assets/Assets/img/logo.png" class="center-block img-responsive img-circle" sizes="30x30">
        </span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            <img src="~/Assets/Assets/img/OMDM-logo-horizontal-small.png" class="center-block img-responsive">
        </span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <!-- Menu toggle button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="goToUrl('@Url.Action("Message","Home")')">
                        <i class="fa fa-envelope"></i>
                        <span class="label label-warning" id="messageCount">0</span>
                    </a>
                </li>
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="getNotification(this,@SessionService.UserId)">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning" id="notificationCount">10</span>
                    </a>
                    <ul class="dropdown-menu" id="notificationBody">
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu" id="notificationList">
                                
                            </ul>
                        </li>
                        <li class="footer"><a href="@Url.Action("Notification","Pharmacist")">View all</a></li>
                    </ul>
                </li>
                <!-- Tasks: style can be found in dropdown.less -->
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="@SessionService.UserImage" class="user-image" alt="User Image">
                        <span class="hidden-xs">@SessionService.FullName</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="@SessionService.UserImage" class="img-circle" alt="User Image">

                            <p>
                                @SessionService.FullName - @SessionService.UserRole
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="@Url.Action("MyProfile","Pharmacist")" class="btn btn-primary btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="@Url.Action("LogOut","Home")" class="btn btn-danger btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left">
                <img src="@SessionService.UserImage" class="img-circle" height="40" width="40" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@SessionService.FullName</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="@(Model.Header == PharmacistHeader.Dashboard ? "active" : "")">
                <a href="@Url.Action("Dashboard","Pharmacist")">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="@(Model.Header == PharmacistHeader.ChangeLocation ? "active" : "")">
                <a href="@Url.Action("RelocateSuggest","Pharmacist")">
                    <i class="fa fa-location-arrow"></i> <span>Relocate Suggestion</span>
                </a>
            </li>

            <li class="@(Model.Header == PharmacistHeader.Profile ? "active" : "")">
                <a href="@Url.Action("MyProfile","Pharmacist")">
                    <i class="fa fa-user"></i> <span>Profile</span>
                </a>
            </li>
            <li class="@(Model.Header == PharmacistHeader.Employee ? "active" : "")">
                <a href="@Url.Action("Employee","Pharmacist")">
                    <i class="fa fa-angle-left"></i> <span>Employees</span>
                </a>
            </li>
            <li class="@(Model.Header == PharmacistHeader.Pharmacy ? "active" : "")">
                <a href="@Url.Action("Pharmacy","Pharmacist")">
                    <i class="fa fa-building-o"></i> <span>Pharmacy</span>
                </a>
            </li>
            <li class="treeview @((Model.Header == PharmacistHeader.Stock || Model.Header == PharmacistHeader.TrackStock) ? "menu-open" : "")">
                <a href="#">
                    <i class="fa fa-shopping-cart"></i>
                    <span>Inventory</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="@((Model.Header == PharmacistHeader.Stock|| Model.Header == PharmacistHeader.TrackStock) ? "display:block" : "")">
                    <li class="@(Model.Header == PharmacistHeader.Stock ? "active" : "")">
                        <a href="@Url.Action("Stock", "Pharmacist")"><i class="fa fa-circle-o"></i> Stock</a>
                    </li>
                </ul>
            </li>
            <li class="treeview @((Model.Header == PharmacistHeader.Posts || Model.Header == PharmacistHeader.PostReplies) ? "menu-open" : "")">
                <a href="#">
                    <i class="fa fa-feed"></i>
                    <span>Threads</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="@((Model.Header == PharmacistHeader.Posts|| Model.Header == PharmacistHeader.PostReplies) ? "display:block" : "")">
                    <li class="@(Model.Header == PharmacistHeader.Posts ? "active" : "")">
                        <a href="@Url.Action("MyPosts", "Pharmacist")"><i class="fa fa-circle-o"></i> My Post</a>
                    </li>
                    <li class="@(Model.Header == PharmacistHeader.PostReplies ? "active" : "")">
                        <a href="@Url.Action("MyReplies", "Pharmacist")"><i class="fa fa-circle-o"></i> My Replies</a>
                    </li>
                </ul>
            </li>
            <li class="treeview @((Model.Header == PharmacistHeader.PromotionActive || Model.Header == PharmacistHeader.PromotionExpired) ? "menu-open" : "")">
                <a href="#">
                    <i class="fa fa-tags"></i>
                    <span>Promotion</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="@((Model.Header == PharmacistHeader.PromotionActive|| Model.Header == PharmacistHeader.PromotionExpired) ? "display:block" : "")">
                    <li class="@(Model.Header == PharmacistHeader.PromotionActive ? "active" : "")">
                        <a href="@Url.Action("Promotion", "Pharmacist",new { type = "active" })"><i class="fa fa-circle-o"></i> Active Promotion</a>
                    </li>
                    <li class="@(Model.Header == PharmacistHeader.PromotionExpired ? "active" : "")">
                        <a href="@Url.Action("Promotion", "Pharmacist",new { type = "inactive" })"><i class="fa fa-circle-o"></i> Expired Promotion</a>
                    </li>
                </ul>
            </li>
            <li class="treeview @((Model.Header == PharmacistHeader.RecommendationRecieved || Model.Header == PharmacistHeader.RecommendationSent) ? "menu-open" : "")">
                <a href="#">
                    <i class="fa fa-asterisk"></i>
                    <span>Recommendations</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="@((Model.Header == PharmacistHeader.RecommendationRecieved|| Model.Header == PharmacistHeader.RecommendationSent) ? "display:block" : "")">
                    <li class="@(Model.Header == PharmacistHeader.RecommendationRecieved ? "active" : "")">
                        <a href="@Url.Action("Recommendation", "Pharmacist",new { type = "recieved" })"><i class="fa fa-circle-o"></i> Recommendation Recieved</a>
                    </li>
                    <li class="@(Model.Header == PharmacistHeader.RecommendationSent ? "active" : "")">
                        <a href="@Url.Action("Recommendation", "Pharmacist",new { type = "sent" })"><i class="fa fa-circle-o"></i> Recommendation Sent</a>
                    </li>
                </ul>
            </li>
            <li class="treeview @((Model.Header == PharmacistHeader.OrderRejected || Model.Header == PharmacistHeader.OrderActive|| Model.Header == PharmacistHeader.OrderCancelled || Model.Header == PharmacistHeader.OrderCompleted || Model.Header == PharmacistHeader.OrderPending) ? "menu-open" : "")">
                <a href="#">
                    <i class="fa fa-dollar"></i>
                    <span>Orders</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="@((Model.Header == PharmacistHeader.OrderRejected || Model.Header == PharmacistHeader.OrderActive|| Model.Header == PharmacistHeader.OrderCancelled || Model.Header == PharmacistHeader.OrderCompleted || Model.Header == PharmacistHeader.OrderPending) ? "display:block" : "")">
                    <li class="@(Model.Header == PharmacistHeader.OrderRejected ? "active" : "")">
                        <a href="@Url.Action("Order", "Pharmacist",new { type = "Rejected"})"><i class="fa fa-circle-o"></i> Rejected</a>
                    </li>
                    <li class="@(Model.Header == PharmacistHeader.OrderActive ? "active" : "")">
                        <a href="@Url.Action("Order", "Pharmacist",new { type = "Active"})"><i class="fa fa-circle-o"></i> Active</a>
                    </li>
                    <li class="@(Model.Header == PharmacistHeader.OrderCancelled ? "active" : "")">
                        <a href="@Url.Action("Order", "Pharmacist",new { type = "Cancelled"})"><i class="fa fa-circle-o"></i> Cancelled</a>
                    </li>
                    <li class="@(Model.Header == PharmacistHeader.OrderCompleted ? "active" : "")">
                        <a href="@Url.Action("Order", "Pharmacist",new { type = "Completed"})"><i class="fa fa-circle-o"></i> Completed</a>
                    </li>
                    <li class="@(Model.Header == PharmacistHeader.OrderPending ? "active" : "")">
                        <a href="@Url.Action("Order", "Pharmacist",new { type = "Pending"})"><i class="fa fa-circle-o"></i> Pending</a>
                    </li>
                </ul>
            </li>

            <li class="treeview @((Model.Header == PharmacistHeader.MedicineReviews || Model.Header == PharmacistHeader.OrderReviews) ? "menu-open" : "")">
                <a href="#">
                    <i class="fa fa-archive"></i>
                    <span>Reviews</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="@((Model.Header == PharmacistHeader.MedicineReviews|| Model.Header == PharmacistHeader.OrderReviews) ? "display:block" : "")">
                    <li class="@(Model.Header == PharmacistHeader.MedicineReviews ? "active" : "")">
                        <a href="@Url.Action("MyMedicineReview", "Pharmacist")"><i class="fa fa-circle-o"></i> Medicines</a>
                    </li>
                    <li class="@(Model.Header == PharmacistHeader.OrderReviews ? "active" : "")">
                        <a href="@Url.Action("MyOrderReview", "Pharmacist")"><i class="fa fa-circle-o"></i> Orders</a>
                    </li>
                </ul>
            </li>
            <li class="@(Model.Header == PharmacistHeader.Report ? "active" : "")">
                <a href="@Url.Action("MyReport","Pharmacist")">
                    <i class="fa fa-file"></i> <span>Report</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
