﻿@using FYPWeb.Service
@using FYPWeb.ViewModels
@model FYPWeb.ViewModels.CompanyProfileViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OMDM | @Model.Company.CompanyName</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick-theme.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Assets/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/toastr/toastr.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-green layout-top-nav">
    <div class="wrapper">
        @{
            Html.RenderPartial("~/Views/Home/Header.cshtml", Model.HeaderViewModel);
        }
        <!-- Full Width Column -->
        <div class="content-wrapper">
            <div class="container">
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-success">
                                <div class="box-body box-profile">
                                    <img class="profile-user-img img-responsive img-circle online" src="@Model.Company.ImagePath" alt="User profile picture">

                                    <h3 class="profile-username text-center">@Model.Company.CompanyName</h3>
                                    <p class="text-muted text-center">Company</p>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                            <!-- About Me Box -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title text-bold">Info</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body slimScroll">
                                    @if (!string.IsNullOrEmpty(Model.Company.WebLink))
                                    {
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <strong>Website</strong>
                                                <p>
                                                    <a href="@Model.Company.WebLink">@Model.Company.CompanyName</a>
                                                </p>
                                            </div>
                                        </div>
                                    }
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <strong>City</strong>
                                            <p>
                                                @Model.Company.City.CityName
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <strong>Address</strong>
                                            <p>
                                                @Model.Company.Address
                                            </p>
                                        </div>
                                    </div>
                                    @if (!string.IsNullOrEmpty(Model.Company.Phone))
                                    {
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <strong>Phone</strong>
                                                <p>
                                                    @Model.Company.Phone
                                                </p>
                                            </div>
                                        </div>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.Company.Fax))
                                    {
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <strong>Fax</strong>
                                                <p>
                                                    @Model.Company.Fax
                                                </p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title text-bold">Brands</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body slimScrollDiv">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            @foreach (var modelBrand in Model.Company.Brands)
                                            {
                                                <div class="row" style="cursor: pointer" onclick="goToUrl('@Url.Action("Index", "Brand", new {id = modelBrand.Id})')">
                                                    <div class="col-xs-12">
                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-xs-1">
                                                                        <img src="@modelBrand.ImagePath" alt="@modelBrand.BrandName" />
                                                                    </div>
                                                                    <div class="col-xs-11 text-bold">
                                                                        @modelBrand.BrandName
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-wrapper -->
        @{
            Html.RenderPartial("~/Views/Home/Footer.cshtml", null);
        }
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/js"></script>

    <script src="~/Assets/bower_components/slick/slick.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/bower_components/toastr/toastr.js"></script>
    <script src="~/Assets/Assets/js/util.js"></script>

    <script src="~/Assets/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Assets/Assets/js/util.js"></script>
    <script src="~/Assets/Assets/js/signalRLib.js"></script>
    <script>
        $(function () {
            $(".slimScrollDiv").slimScroll({
                height: '250px'
            });
            @if (SessionService.UserId != "")
    {
        @:startSignalR('@SessionService.GetClientId()');
    }
        });
    </script>

</body>
</html>
