.border-div {
    border: 1px solid #000000;
}

.notification-item-all{
    padding: 4px;
}

.margin-5-all {
    margin: 5px;
}

.margin-5-all {
    margin: 5px;
}
.notification-item{
    cursor: pointer
}
.notification-item:hover{
    color: #90949c;
    opacity: 0.5;
}
.margin-10-all {
    margin: 10px;
}

#map{
    height: 400px;
    width: 100%;
}

.margin-15-all {
    margin: 15px;
}

.padding-5-all {
    padding: 5px 5px 5px 5px;
}
.padding-10-all {
    padding: 10px;
}

.make-click-able{
    cursor: pointer;
}
.make-click-able:hover{
    opacity: 0.8;
}
