﻿@model FYPWeb.ViewModels.ErrorViewModel
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <div>
            <a class="btn btn-block" href="@Model.Url">Go Back</a>
        </div>
    </body>
</html>
