﻿@using FYPWeb.Service
@model FYPWeb.ViewModels.ForumAllThreadPostViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forum | Tag '@Model.Tag'</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick-theme.css">
    <link rel="stylesheet" href="~/Assets/Assets/css/custom.css"><!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Assets/dist/css/skins/_all-skins.min.css">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-green layout-top-nav">
    <div class="wrapper">
        @{
            Html.RenderPartial("Header", Model.Header);
        }
        <!-- Full Width Column -->
        <div class="content-wrapper">
            <div class="container">
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-success box-solid">
                                <div class="box-header">
                                    <div class="box-title">
                                        Search For '@Model.Tag' @Model.Page of @Model.PageCount
                                    </div>
                                </div>
                                <div class="box-body">
                                    @foreach (var m in Model.PostThreads)
                                    {
                                        <div class="row well-sm">
                                            <div class="col-xs-6">
                                                <b><a href="@Url.Action("PostThread", "Forum", new {id = m.Id})">@m.Subject</a> </b>
                                                <p>
                                                    @foreach (var tag in m.TagPostThreads.Select(p => p.Tag))
                                                    {
                                                        <a href="@Url.Action("AllThreadPostByTag", "Forum",new { tag = tag.Name })" class="label label-success">@tag.Name</a>
                                                    }
                                                </p>
                                            </div>
                                            <div class="col-xs-3">
                                                <p style="padding: 5px; margin: 5px">
                                                    <span class="fa fa-comment"></span> <span class="" style="margin-left: 10px">@m.PostReplies.Count()</span>
                                                </p>
                                            </div>
                                            <div class="col-xs-3">
                                                <p style="padding: 5px; margin: 5px">
                                                    <span class=""></span> <span class="text-bold" style=""><a href="">@m.User.ToString()</a></span>
                                                </p>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="box-footer">
                                    <ul class="pagination">
                                        @if (Model.Page > 1)
                                        {
                                            <li>
                                                <a href="@Url.Action("AllThreadPost", "Forum", new {parameter = Model.Parameter, page = 1})"><< First</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("AllThreadPost", "Forum", new {parameter = Model.Parameter, page = Model.Page - 1})">< Prev</a>
                                            </li>
                                        }
                                        <li class="active">
                                            <a href="@Url.Action("AllThreadPost", "Forum", new {parameter = Model.Parameter, page = Model.Page})">@Model.Page</a>
                                        </li>
                                        @if (Model.Page + 1 <= Model.PageCount)
                                        {
                                            <li class="">
                                                <a href="@Url.Action("AllThreadPost", "Forum", new {parameter = Model.Parameter, page = Model.Page + 1})">@(Model.Page + 1)</a>
                                            </li>
                                        }
                                        @if (Model.Page + 2 <= Model.PageCount)
                                        {
                                            <li class="">
                                                <a href="@Url.Action("AllThreadPost", "Forum", new {parameter = Model.Parameter, page = Model.Page + 2})">@(Model.Page + 2)</a>
                                            </li>
                                        }
                                        @if (Model.Page < Model.PageCount)
                                        {
                                            <li>
                                                <a href="@Url.Action("AllThreadPost", "Forum", new {parameter = Model.Parameter, page = Model.Page + 1})">Next ></a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("AllThreadPost", "Forum", new {parameter = Model.Parameter, page = Model.PageCount})">Last >></a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-wrapper -->
        @{
            Html.RenderPartial("Footer");
        }
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
<script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/js"></script>

    <script src="~/Assets/bower_components/slick/slick.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
<script src="~/Assets/dist/js/adminlte.min.js"></script>
    <script src="~/Assets/Assets/js/util.js"></script>
    <script src="~/Assets/Assets/js/signalRLib.js"></script>
    <script>
    $(function() {
        @if (SessionService.UserId != "")
        {
            @:startSignalR('@SessionService.GetClientId()');
        }
    });

    </script>

    <!-- AdminLTE for demo purposes -->
</body>
</html>
