﻿@using FYPWeb.Service
@using FYPWeb.ViewModels
@model FYPWeb.ViewModels.ForumHeaderViewModel
<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Index","Home")" class="navbar-brand">
                    <span class="logo-mini">
                        <img src="~/Assets/Assets/img/OMDM-logo-horizontal-small.png" width="100" class="img-responsive">
                    </span>
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="@(Model.Header == HomeHeader.Home ? "active": "")"><a href="@Url.Action("Index","Home")">Home <span class="sr-only">(current)</span></a></li>
                    <li class="@(Model.Header == HomeHeader.AboutUs ? "active": "")"><a href="#">About Us</a></li>
                    <li class="@(Model.Header == HomeHeader.ContactUs ? "active": "")"><a href="#">Contact Us</a></li>
                    <li class="@(Model.Header == HomeHeader.Forum ? "active": "")"><a href="@Url.Action("Index","Forum")">Forum</a></li>
                    <li class="@(Model.Header == HomeHeader.PharmacyNearMe ? "active": "")"><a href="@Url.Action("PharmacyNearYou","Home")">Pharmacy Near Me</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search" action="/Search">
                    <div class="form-group">
                        <input type="text" class="form-control" id="searchAll" name="q" placeholder="Search" onkeypress="return searchAll(e)">
                        <select class="form-control" id="searchType" name="type">
                            <option value="1">Medicine</option>
                            <option value="3">Company</option>
                            <option value="2">Disease</option>
                            <option value="4">Categories</option>
                            <option value="5">Posts</option>
                            <option value="6">Tags</option>
                            <option value="7">Users</option>
                            <option value="8">Pharmacies</option>
                        </select>
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Browse <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action("AllMedicine", "Home")">Medicines</a></li>
                            <li><a href="@Url.Action("AllDisease", "Home")">Disease</a></li>
                            <li><a href="@Url.Action("AllCompanies", "Home")">Company</a></li>
                            <li><a href="@Url.Action("AllTags", "Forum")">Tags</a></li>
                            <li><a href="@Url.Action("AllCategories", "Forum")">Categories</a></li>
                            <li><a href="@Url.Action("AllThreadPost", "Forum")">Posts</a></li>
                            <li><a href="@Url.Action("AllUsers", "Home")">Users</a></li>
                            <li><a href="@Url.Action("AllPharmacies", "Home")">Pharmacies</a></li>
                        </ul>
                    </li>
                    @if (SessionService.UserId == "")
                    {
                        <li><a href="@Url.Action("Login", "Home")">Login</a></li>
                        <li><a href="@Url.Action("Register", "Home")">Sign Up</a></li>
                    }
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            <!-- Navbar Right Menu -->
            @if (SessionService.UserId != "")
            {
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <!-- /.messages-menu -->
                        <!-- Notifications Menu -->
                       @if(SessionService.UserRole != "Pharmacist") { 
                           <li>
                               <a href="@Url.Action("Index","Cart")">
                                   <i class="fa fa-shopping-cart"></i>
                                   <span class="label label-warning" id="cartCount">@Model.CartCount</span>
                               </a>
                           </li>
                       }
                        <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="goToUrl('@Url.Action("Message","Home")')">
                                <i class="fa fa-envelope"></i>
                                <span class="label label-warning" id="messageCount">0</span>
                            </a>
                        </li>
                        <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="getNotification(this,@SessionService.UserId)">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning" id="notificationCount">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <!-- Inner Menu: contains the notifications -->
                                    <ul class="menu" id="notificationList">
                                        <li>
                                            <!-- start notification -->
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <!-- end notification -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="@(SessionService.UserRole.Contains("Customer") ? Url.Action("Notification","Customer") : Url.Action("Notification","Pharmacist"))">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks Menu -->
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="@SessionService.UserImage" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">@SessionService.FullName</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="@SessionService.UserImage" class="img-circle" alt="User Image">

                                    <p>
                                        @SessionService.FullName - @SessionService.UserRole
                                        <small>Member since Jan. 2018</small>
                                    </p>
                                </li>
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-6 col-xs-push-3">
                                            @switch (SessionService.UserRole)
                                            {
                                                case "Admin":
                                                    <a href="@Url.Action("Index","Admin")" style="color:white !important" class="btn btn-primary btn-block">Dashboard</a>
                                                    break;
                                                case "Customer":
                                                    <a href="@Url.Action("Dashboard","Customer")" style="color:white !important" class="btn btn-primary btn-block">Dashboard</a>
                                                    break;
                                                case "Pharmacist":
                                                    <a href="@Url.Action("Dashboard","Pharmacist")" style="color:white !important" class="btn btn-primary btn-block">Dashboard</a>
                                                    break;
                                            }
                                        </div>
                                    </div>
                                </li>
                                <!-- Menu Body -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="row">
                                        <div class="col-xs-6 text-center">
                                            @switch (SessionService.UserRole)
                                            {
                                                case "Admin":
                                                    <a href="@Url.Action("","Admin")" class="btn btn-default btn-flat">Profile</a>
                                                    break;
                                                case "Customer":
                                                    <a href="@Url.Action("MyProfile","Customer")" class="btn btn-default btn-flat">Profile</a>
                                                    break;
                                                case "Pharmacist":
                                                    <a href="@Url.Action("MyProfile","Customer")" class="btn btn-default btn-flat">Profile</a>
                                                    break;
                                            }
                                        </div>
                                        <div class="col-xs-6 text-center">
                                            <a href="@Url.Action("LogOut","Home")" class="btn btn-default btn-flat">Log Out</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-custom-menu -->
            }
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
