﻿@using FYPWeb.Service
@model FYPWeb.ViewModels.ForumIndexViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forum | HomePage</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick-theme.css">
    <link rel="stylesheet" href="~/Assets/Assets/css/custom.css"><!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Assets/dist/css/skins/_all-skins.min.css">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-green layout-top-nav">
    <div class="wrapper">
        @{
            Html.RenderPartial("Header", Model.Header);
        }
        <!-- Full Width Column -->
        <div class="content-wrapper">
            <div class="container">
                <section class="content">
                    <div class="row" style="margin-top: 30px">
                        <div class="box box-widget">
                            <div class="box-header">
                                <div class="box-title">
                                    <b>Categories</b>
                                </div>
                                <div class="pull-right">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control" onkeypress="searchCategory(this,event)" placeholder="Search Category">
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="box box-success">
                                    <div class="box-body">
                                        <div class="row well-sm">
                                            <div class="col-xs-6 text-bold">
                                                Category Name
                                            </div>
                                            <div class="col-xs-6 text-bold">
                                                Post Count
                                            </div>
                                        </div>
                                        <div id="categoryBody">
                                            @foreach (var m in Model.Categories)
                                            {
                                                <div class="row well-sm">
                                                    <div class="col-xs-6">
                                                        <b><a href="@Url.Action("AllThreadPostByCategory", "Forum", new {catId = m.Id})">@m.CategoryName</a> </b>
                                                        <p>
                                                            @m.Description
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <p style="padding: 5px; margin: 5px">
                                                            <span class="fa fa-feed"></span> <span class="" style="margin-left: 10px">@m.PostThreads.Count</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            }
                                        </div>

                                    </div>
                                    <div class="box-footer">
                                        <a href="@Url.Action("AllCategories","Forum")" class="btn btn-success">More Categories</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <a href="@Url.Action("CreatePost", "Forum")" class="btn btn-primary pull-right">
                            <i class="fa fa-pencil" style="margin-right: 7px"></i>Post Thread
                        </a>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="box box-widget">
                            <div class="box-header">
                                <div class="box-title">
                                    <b>Hot Posts</b>
                                </div>
                                <div class="pull-right">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control" onkeypress="searchPost(this,event)" placeholder="Search Title/Tags">
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="box box-success">
                                    <div class="box-body">
                                        <div class="row well-sm">
                                            <div class="col-xs-6 text-bold">
                                                Posts
                                            </div>
                                            <div class="col-xs-3 text-bold">
                                                Total Replies
                                            </div>
                                            <div class="col-xs-3  text-bold">
                                                Created By
                                            </div>
                                        </div>
                                        <div id="postHotBody">
                                            @foreach (var m in Model.HotPostThreads)
                                            {
                                                <div class="row well-sm">
                                                    <div class="col-xs-6">
                                                        <b><a href="@Url.Action("PostThread","Forum", new { id = m.Id})">@m.Subject</a> </b>
                                                        <p>
                                                            <span class="text-sm">Tags:</span>&nbsp;
                                                            @foreach (var tag in m.TagPostThreads.Select(p => p.Tag))
                                                            {
                                                                <a href="@Url.Action("AllThreadPostByTag", "Forum", new {tag = tag.Name})" class="label label-success">@tag.Name</a>
                                                            }
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <p style="padding: 5px; margin: 5px">
                                                            <span class="fa fa-comment"></span> <span class="" style="margin-left: 10px">@m.PostReplies.Count()</span>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <p style="padding: 5px; margin: 5px">
                                                            <span class=""></span> <span class="text-bold" style=""><a target="_blank" href="@Url.Action("Index","Profile",new { username = m.User.Username})">@m.User.ToString()</a></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                        <a href="@Url.Action("AllThreadPost","Forum")" class="btn btn-success">More Posts</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
      
                    <div class="row" style="margin-top: 10px">
                        <div class="box box-widget">
                            <div class="box-header">
                                <div class="box-title">
                                    <b>Recent Posts</b>
                                </div>
                                <div class="pull-right">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control" onkeypress="searchPost(this,event)" placeholder="Search Title/Tags">
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="box box-success">
                                    <div class="box-body">
                                        <div class="row well-sm">
                                            <div class="col-xs-6 text-bold">
                                                Posts
                                            </div>
                                            <div class="col-xs-3 text-bold">
                                                Total Replies
                                            </div>
                                            <div class="col-xs-3  text-bold">
                                                Created By
                                            </div>
                                        </div>
                                        <div id="postBody">
                                            @foreach (var m in Model.PostThreads)
                                            {
                                                <div class="row well-sm">
                                                    <div class="col-xs-6">
                                                        <b><a href="@Url.Action("PostThread","Forum", new { id = m.Id})">@m.Subject</a> </b>
                                                        <p>
                                                            <span class="text-sm">Tags:</span>&nbsp;
                                                            @foreach (var tag in m.TagPostThreads.Select(p => p.Tag))
                                                            {
                                                                <a href="@Url.Action("AllThreadPostByTag", "Forum", new {tag = tag.Name})" class="label label-success">@tag.Name</a>
                                                            }
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <p style="padding: 5px; margin: 5px">
                                                            <span class="fa fa-comment"></span> <span class="" style="margin-left: 10px">@m.PostReplies.Count()</span>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <p style="padding: 5px; margin: 5px">
                                                            <span class=""></span> <span class="text-bold" style=""><a target="_blank" href="@Url.Action("Index","Profile",new { username = m.User.Username})">@m.User.ToString()</a></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                        <a href="@Url.Action("AllThreadPost","Forum")" class="btn btn-success">More Posts</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-wrapper -->
        @{
            Html.RenderPartial("Footer");
        }
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/bower_components/slick/slick.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/js"></script>

    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/dist/js/adminlte.min.js"></script>
    <script src="~/Assets/Assets/js/forumIndex.js"></script>
    <script src="~/Assets/Assets/js/util.js"></script>
    <script src="~/Assets/Assets/js/signalRLib.js"></script>
    <script>
    $(function() {
        @if (SessionService.UserId != "")
        {
            @:startSignalR('@SessionService.GetClientId()');
        }
    });

    </script>

    <!-- AdminLTE for demo purposes -->
</body>
</html>
