﻿@using FYPWeb.Service
@model FYPWeb.ViewModels.ForumPostThreadViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forum | HomePage</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick-theme.css">
    <link rel="stylesheet" href="~/Assets/bower_components/simple-pagination/simple-pagination.css">
    <link rel="stylesheet" href="~/Assets/Assets/css/custom.css"><!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Assets/dist/css/skins/_all-skins.min.css">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-green layout-top-nav">
    <div class="wrapper">
        @{
            Html.RenderPartial("Header", Model.Header);
        }
        <!-- Full Width Column -->
        <div class="content-wrapper">
            <div class="container">
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="@Url.Action("CreateReply","Forum",new { id = Model.PostThread.Id})" class="btn btn-primary"><span class="ion ion-reply"></span>&nbsp;&nbsp;Post Reply</a>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-xs-12">
                            <div class="box box-success box-solid">
                                <div class="box-header">
                                    @if (SessionService.UserId == Model.PostThread.UserId + "")
                                    {
                                        <a class="btn btn-info btn-sm" href="@Url.Action("EditPost", "Forum", new {id = Model.PostThread.Id})">Edit Post</a>
                                    }
                                    <span class="text-bold">@Model.PostThread.Subject</span>
                                    <span class="pull-right"><i class="fa fa-clock-o"></i> @Model.PostThread.PostedAt</span>
                                </div>
                                <div class="box-body">
                                    @Html.Raw(Model.PostThread.Body)
                                </div>
                                <div class="box-footer text-bold">
                                    Posted By : <a target="_blank" href="@Url.Action("Index", "Profile", new {username = Model.PostThread.User.Username})">@Model.PostThread.User</a>
                                    <br>
                                    Category : <a target="_blank" href="@Url.Action("AllThreadPostByCategory","Forum",new { catId = Model.PostThread.PostCategory.Id})">@Model.PostThread.PostCategory</a>
                                    <br>
                                    Tags :
                                    @foreach (var tag in Model.Tags)
                                    {
                                        <a target="_blank" href="@Url.Action("AllThreadPostByTag","Forum",new { tag = tag.Name })" class="label label-success">@tag.Name</a>
                                        @Html.Raw("&nbsp;")
                                    }
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading text-bold">
                                    <ul id="postPagination" style="margin-top: 5px; margin-bottom: 5px"></ul>
                                </div>
                            </div>
                            <div class="">
                                <div class="" id="postTable" style="padding: 0">
                                </div>
                                <div id="overlay"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-wrapper -->
        @{
            Html.RenderPartial("Footer");
        }
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/bower_components/slick/slick.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/js"></script>

    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="~/Assets/bower_components/simple-pagination/simple-pagination.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/Assets/js/util.js"></script>
    <script src="~/Assets/dist/js/adminlte.min.js"></script>
    <script src="~/Assets/Assets/js/forumPostThread.js"></script>
    <script src="~/Assets/Assets/js/util.js"></script>
    <script src="~/Assets/Assets/js/signalRLib.js"></script>
    <script>
    var userId = @(SessionService.UserId == "" ? "0" : SessionService.UserId);
    $(function () {
        @if (Model.Page > 0)
        {
            @:$("#postPagination").pagination({
            @:    items: @Model.Page,
            @:   itemsOnPage: 1,
            @: cssStyle: 'light-theme',
            @:onPageClick: function(page, e) {
            @:   changePage(e, page, @Model.PostThread.Id);
            @:}
            @:});
            @:   changePage(null, 1, @Model.PostThread.Id);

            if (SessionService.UserId != "")
            {
                @:startSignalR('@SessionService.GetClientId()');
            }
        }
    });
    </script>
    <!-- AdminLTE for demo purposes -->
</body>
</html>
