﻿@using FYPWeb.Service
@using FYPWeb.Services.Util
@model FYPWeb.ViewModels.HomeMedicineViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OMDM | @(Model.Drug.Brand + " - " + Model.Drug.DrugName)</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick-theme.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
    folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Assets/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/star-rating/star-rating.css">
    <link rel="stylesheet" href="~/Assets/bower_components/toastr/toastr.css">
    <link rel="stylesheet" href="~/Assets/bower_components/select2/dist/css/select2.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-green layout-top-nav">
    <div class="wrapper">

        @{
            Html.RenderPartial("~/Views/Home/Header.cshtml", Model.HeaderViewModel);
        }
        <!-- Full Width Column -->
        <div class="content-wrapper">
            <div class="container">
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12 col-md-8">
                            <div class="box box-success">
                                <div class="box-header">
                                    <i class="fa fa-medkit"></i>
                                    <h3 class="box-title">Medicine Info</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-6">
                                            <div class="center-block text-center">
                                                <img src="@Model.Drug.DrugDetail.ImageLink" title="@Model.Drug.DrugDetail.Name" width="256" class="image img-responsive center-block">
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-6">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="row">
                                                        <h3 class="text-bold">@(Model.Drug.Brand + " - " + Model.Drug.DrugName)</h3>
                                                        <h4 class="">Form: @Model.Drug.DrugForm</h4>
                                                        <h4 class="">Packing: @Model.Drug.Packing</h4>
                                                        <h4 class="">Total Items in Pack: @Model.Drug.ItemsInPack</h4>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div id="rating"></div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            @Model.Rating.ToString("F") / 5
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            Based on @Model.TotalReview reviews
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            Recommended By @Model.RecommendationCount Users
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            @if (SessionService.UserId == "")
                                                            {
                                                                <button class="btn btn-success" onclick="showLoginRegsiterForm()">Write a Review</button>
                                                            }
                                                            else
                                                            {
                                                                if (!Model.IsReviewed)
                                                                {
                                                                   <button class="btn btn-success" onclick="showReviewDialog(@Model.Drug.Id, @SessionService.UserId)">Write a Review</button>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="" style="margin-top: 5px">
                                                <div class="box box-widget box-default">
                                                    <div class="box-header">
                                                    </div>
                                                    <div class="box-body">
                                                        <div class="text-center">
                                                            <div class="form-group" style="padding: 5px">
                                                                <div class="btn btn-sm btn-danger" onclick="decrement()" style="margin-bottom: 3px">
                                                                    <span class="fa fa-minus"></span>
                                                                </div>
                                                                <input value="1" id="qtyCount" type="number" class="text-center text-bold" readonly="readonly" style="background: white; padding: 3px" title="Qty" />
                                                                <div class="btn btn-sm btn-info" onclick="increment()" style="margin-bottom: 3px">
                                                                    <span class="fa fa-plus"></span>
                                                                </div>
                                                                
                                                            </div>
                                                            <div style="padding: 5px">
                                                                @if (true)
                                                                {
                                                                    if (SessionService.UserRole == "Customer" || SessionService.UserRole == "")
                                                                    {
                                                                        <button class="btn btn-block btn-primary" onclick="addToCartShow(@Model.Drug.Id, '@SessionService.UserId','@SessionService.SessionId')">Add To Cart</button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <button class="btn btn-block btn-primary" onclick="addToInventory(@Model.Drug.Id, @SessionService.UserId)">Add To Inventory</button>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <button class="btn btn-block btn-primary" onclick="showLoginRegsiterForm()">Add To Cart</button>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 col-md-4">
                            @if (SessionService.UserId != "")
                            {
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <button class="btn btn-success btn-block" onclick="showRecommendationDialog(@SessionService.UserId,@Model.Drug.Id)">Recommend</button>
                                    </div>
                                </div>
                            }
                            <div class="box box-success">
                                <div class="box-header">
                                    Pharmacies having this Product in stock
                                </div>
                                <div class="box-body chat slimScrollDiv">
                                    @foreach (var p in Model.Prices)
                                    {
                                        <div class="item">
                                            <img src="@p.Pharmacy.ImagePath" alt="user image" class="online">

                                            <p class="message">
                                                <a href="@Url.Action("Index","Profile",new { username = p.Pharmacy.User.Username})" class="name">
                                                    @(p.Pharmacy.ShopName)
                                                </a>
                                                <br/>
                                                @p.Price
                                                <br />
                                                @p.Pharmacy.ShopAddress
                                            </p>
                                            <!-- /.attachment -->
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false">Overview</a></li>
                                    <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Indications</a></li>
                                    <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false">Contradictions</a></li>
                                    <li class=""><a href="#tab_4" data-toggle="tab" aria-expanded="false">Reviews</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">
                                        <div class="row slimScrollDiv">
                                            <div class="col-xs-12">
                                                @Model.Drug.DrugDetail.OverView
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_2">
                                        <div class="row slimScrollDiv">
                                            <div class="col-xs-12">
                                                <table class="table table-responsive table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Disease
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var d in Model.Drug.DrugDetail.DrugDetailDiseases.Where(p => p.IsIndication))
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <a href="@Url.Action("Index","Disease",new { id = d.DiseaseId})">
                                                                        @d.Disease.DiseaseName
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="tab-pane" id="tab_3">
                                        <div class="row slimScrollDiv">
                                            <div class="col-xs-12">
                                                <table class="table table-responsive table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Disease
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var d in Model.Drug.DrugDetail.DrugDetailDiseases.Where(p => !p.IsIndication))
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <a href="@Url.Action("Index","Disease",new { id = d.DiseaseId})">
                                                                        @d.Disease.DiseaseName
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="tab-pane" id="tab_4">
                                            <div class="box-body chat slimScrollDiv" id="chat-box">
                                                <!-- chat item -->
                                                @foreach (var r in Model.DrugReviews)
                                                {
                                                <div class="item">
                                                    <img src="@r.User.UserImage" alt="user image" class="online">

                                                    <p class="message">
                                                        <a href="@Url.Action("Index","Profile",new { username = r.User.Username })" class="name">
                                                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> @r.PostedAt.ToShortDateString() -- @r.PostedAt.ToShortTimeString()</small>
                                                            <small class="text-muted pull-left"></small>
                                                            @(r.User.FirstName + " " + r.User.LastName)   &nbsp; &nbsp;
                                                        </a>
                                                        <i class="fa fa-star" style="color: gold"></i> @r.Rating / 5
                                                        <br />
                                                        @r.Review
                                                    </p>
                                                    <!-- /.attachment -->
                                                </div>
                                                }
                                                <!-- /.item -->
                                            </div>
                                    </div>

                                </div>
                                <!-- /.tab-content -->
                            </div>
                        </div>
                    </div>

                </section>
                <!-- /.content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-wrapper -->
        @{
            Html.RenderPartial("~/Views/Home/Footer.cshtml");
        }
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/bower_components/slick/slick.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/js"></script>

    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="~/Assets/bower_components/star-rating/star-rating.js"></script>
    <script src="~/Assets/bower_components/select2/dist/js/select2.full.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/bower_components/toastr/toastr.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Assets/dist/js/adminlte.min.js"></script>
    <script src="~/Assets/Assets/js/util.js"></script>
    <script src="~/Assets/Assets/js/homeMedicine.js"></script>
    <script src="~/Assets/Assets/js/template/homeReviewForm.js"></script>
    <script src="~/Assets/Assets/js/template/recommendationForm.js"></script>
    <script src="~/Assets/Assets/js/template/addToInventoryForm.js"></script>
    <script src="~/Assets/Assets/js/signalRLib.js"></script>
    
    <script>
        $(function () {
            setRating(@Model.Rating);
            $(".slimScrollDiv").slimScroll({
                height: '250px',
            });
            @if (SessionService.UserId != "")
            {
                @:startSignalR('@SessionService.GetClientId()');
            }
        });
    </script>
</body>
</html>
