﻿@using FYPWeb.Service
@model FYPWeb.ViewModels.CustomerDashboardViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@SessionService.FullName | @SessionService.UserRole Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Assets/dist/css/skins/_all-skins.min.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/Assets/bower_components/morris.js/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/Assets/bower_components/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/Assets/bower_components/toastr/toastr.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/Assets/bower_components/time-circle/timecircle.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/Assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/morris.js/morris.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-green sidebar-mini">
    @{
        Html.RenderPartial("Header", Model.HeaderViewModel);
    }

    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Dashboard
                    <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="box box-success slimScrollDiv">
                            <div class="box-header">
                                <div class="box-title">
                                    Promotions
                                </div>
                            </div>
                            <div class="box-body">
                                <table class="table table-bordered table-responsive">
                                    <thead>
                                        <tr>
                                            <td>Pharmacy Name</td>
                                            <td>Promotion</td>
                                            <td>%off</td>
                                            <td>Code</td>
                                            <td>End Date</td>
                                        </tr>
                                    </thead>
                                    <tbody id="promotionTable"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="box box-success">
                            <div class="box-header">
                                Sold Medicine
                            </div>
                            <div class="box-body">
                                <canvas id="graphSalesByMonth" class="chartjs" height="300"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="box box-success slimScrollDiv">
                            <div class="box-header">
                                <div class="box-title">
                                    Track Active Orders
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Order#</th>
                                                <th>Shop Name</th>
                                                <th>From Location</th>
                                                <th>Promotion (if Any)</th>
                                                <th>Status</th>
                                                <th>Delivery Location</th>
                                                <th>Options</th>
                                            </tr>
                                            </thead>
                                            <tbody id="recommendationTable">
                                            @foreach (var m in Model.ActiveOrders)
                                            {
                                                <tr id="row_order_@m.Id">
                                                    <td>
                                                        @m.Id
                                                    </td>
                                                    <td>
                                                        @m.Pharmacy.ShopName
                                                    </td>
                                                    <td>
                                                        @(m.FromLocation.Length > 15 ? m.FromLocation.Substring(0, 15) : m.FromLocation)
                                                    </td>
                                                    <td>
                                                        @(m.Promotion != null ? m.Promotion.Name : "") -- @(m.Promotion != null ? m.Promotion.PercentageOff : 0)%
                                                    </td>
                                                    <td>
                                                        @if (m.IsAccepted && !m.IsCompleted && !m.IsCanceled)
                                                        {
                                                            <span class="label label-success">Accepted</span>
                                                        }
                                                        else if (m.IsRejected)
                                                        {
                                                            <span class="label label-danger">Reject</span>
                                                        }
                                                        else if (m.IsCanceled)
                                                        {
                                                            <span class="label label-warning">Cancelled</span>
                                                        }
                                                        else if (m.IsCompleted)
                                                        {
                                                            <span class="label label-success">Completed</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="label label-info">Pending</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (!string.IsNullOrEmpty(m.DeliveryLocation))
                                                        {
                                                            @(m.DeliveryLocation.Length > 15 ? m.DeliveryLocation.Substring(0, 15) : m.DeliveryLocation)
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (m.IsAccepted && !m.IsCompleted && !m.IsCanceled)
                                                        {
                                                            if (m.AcceptedAt != null && m.AcceptedAt.Value.AddMinutes(5) >= DateTime.Now)
                                                            {
                                                                <button class="btn btn-danger btn-sm" onclick="showcancelOrderDialog(@m.Id)">Cancel Order</button>
                                                            }
                                                        }
                                                        else if (m.IsRejected)
                                                        {
                                                        }
                                                        else if (m.IsCanceled)
                                                        {
                                                        }
                                                        else if (m.IsCompleted)
                                                        {
                                                            if (!m.PharmacyReviews.Any())
                                                            {
                                                                <button class="btn btn-success btn-sm" onclick="showpharmacyreviewOrderDialog(@m.Id)">Review it</button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-info btn-sm" onclick="showreviewOrderDialog(@m.Id)">Show Review</button>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-danger btn-sm" onclick="showcancelOrderDialog(@m.Id)">Cancel Order</button>
                                                        }
                                                        <button class="btn btn-info btn-sm" onclick="showorderDetailDialog(@m.Id)">View Details</button>
                                                    </td>
                                                </tr>
                                            }
                                            </tbody>

                                        </table>
                                        <div id="overlay"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="box box-success slimScrollDiv">
                            <div class="box-header">
                                <div class="box-title">
                                    Disease Analysis
                                </div>
                            </div>
                            <div class="box-body">
                                <canvas id="diseaseAnalysis" class="chartjs" height="300"></canvas>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.row -->
            </section>  <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        @{
            Html.RenderPartial("Footer");
        }
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Assets/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/js"></script>

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <script src="~/Assets/bower_components/raphael/raphael.min.js"></script>
    <script src="~/Assets/bower_components/morris.js/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Assets/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/Assets/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Assets/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Assets/bower_components/moment/min/moment.min.js"></script>
    <script src="~/Assets/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="~/Assets/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/Assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Assets/bower_components/time-circle/timecircle.js"></script>
    <script src="~/Assets/bower_components/toastr/toastr.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/dist/js/adminlte.min.js"></script>
    <script src="~/Assets/Assets/js/util.js"></script>
    <script src="~/Assets/Assets/js/customerDashboardIndex.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Assets/dist/js/pages/dashboard.js"></script>
    <script src="~/Assets/bower_components/chart.js/Chart.min.js"></script>
    <script src="~/Assets/bower_components/chart.js/chart.bundle.js"></script>

    <!-- Chart JS -->
    <script src="~/Assets/Assets/js/signalRLib.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCERdN9K-zvLr6vWXL3qGh2_jQDR08_Luc&libraries=places">
    </script>

    <script>
        $(function() {
            var myLabel = [];
            var myValue = [];
            var myLabel2 = [];
            var myValue2 = [];

            @foreach (var m in Model.StringValues)
            {
                @:myLabel.push('@m.Title');
                @:myValue.push('@m.Value');
            }
            @foreach (var m in Model.Diseases)
            {
                @:myLabel2.push('@m.Disease.DiseaseName');
                @:myValue2.push('@m.Count');
            }
            barChartGraph("graphSalesByMonth", myLabel, myValue, "Last 15 Orders");
            barChartGraph("diseaseAnalysis", myLabel2, myValue2, "Disease Analysis Base on Order");
            @if (SessionService.UserId != "")
            {
                @:startSignalR('@SessionService.GetClientId()');
            }
    });

    </script>
</body>
</html>