﻿@using FYPWeb.Service
@using FYPWeb.ViewModels
@model CustomerHeaderViewModel
<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Index","Home")" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
            <img src="~/Assets/Assets/img/logo.png" class="center-block img-responsive img-circle" sizes="30x30">
        </span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            <img src="~/Assets/Assets/img/OMDM-logo-horizontal-small.png" class="center-block img-responsive">
        </span>
    </a>
    <!-- SideBar Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="getNotification(this,@SessionService.UserId)">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning" id="notificationCount">10</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu" id="notificationList">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-warning text-yellow"></i> Very long description here that
                                        may not fit into the
                                        page and may cause design problems
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users text-red"></i> 5 new members joined
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-user text-red"></i> You changed your username
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="@Url.Action("Notification","Customer")">View all</a></li>
                    </ul>
                </li>
                <li class="dropdown notifications-menu">
                    <!-- Menu toggle button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="goToUrl('@Url.Action("Message","Home")')">
                        <i class="fa fa-envelope"></i>
                        <span class="label label-warning" id="messageCount">0</span>
                    </a>
                </li>
                        
                <!-- Tasks: style can be found in dropdown.less -->
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="@SessionService.UserImage" class="user-image" alt="User Image">
                        <span class="hidden-xs">@SessionService.FullName</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="@SessionService.UserImage" class="img-circle" alt="User Image">

                            <p>
                                @SessionService.FullName - @SessionService.UserRole
                                <small>Member since Nov. 2012</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="@Url.Action("MyProfile","Customer")" class="btn btn-primary btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="@Url.Action("LogOut","Home")" class="btn btn-danger btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="@SessionService.UserImage" class="img-circle img-responsive" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@SessionService.FullName</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="@(Model.SiderBar == CustomerSiderBar.Dashboard ? "active" : "")">
                <a href="@Url.Action("Dashboard","Customer")">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="@(Model.SiderBar == CustomerSiderBar.Profile ? "active" : "")">
                <a href="@Url.Action("MyProfile","Customer")">
                    <i class="fa fa-user"></i> <span>Profile</span>
                </a>
            </li>
            <li class="@(Model.SiderBar == CustomerSiderBar.Prescription ? "active" : "")">
                <a href="@Url.Action("Prescription","Customer")">
                    <i class="fa fa-sticky-note"></i> <span>Prescription</span>
                </a>
            </li>
            <li class="@(Model.SiderBar == CustomerSiderBar.MedicineCart ? "active" : "")">
                <a href="@Url.Action("Index","Cart")">
                    <i class="fa fa-cart-plus"></i>
                    <span>Medicine Cart</span>
                </a>
            </li>
            <li class="treeview @((Model.SiderBar == CustomerSiderBar.RecommendationRecieved || Model.SiderBar == CustomerSiderBar.RecommendationSent) ? "menu-open" : "")">
                <a href="#">
                    <i class="fa fa-asterisk"></i>
                    <span>Recommendations</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="@((Model.SiderBar == CustomerSiderBar.RecommendationRecieved|| Model.SiderBar == CustomerSiderBar.RecommendationSent) ? "display:block" : "")">
                    <li class="@(Model.SiderBar == CustomerSiderBar.RecommendationRecieved ? "active" : "")">
                        <a href="@Url.Action("Recommendation", "Customer",new { type = "recieved" })"><i class="fa fa-circle-o"></i> Recommendation Recieved</a>
                    </li>
                    <li class="@(Model.SiderBar == CustomerSiderBar.RecommendationSent ? "active" : "")">
                        <a href="@Url.Action("Recommendation", "Customer",new { type = "sent" })"><i class="fa fa-circle-o"></i> Recommendation Sent</a>
                    </li>
                </ul>
            </li>

            <li class="treeview @((Model.SiderBar == CustomerSiderBar.Posts || Model.SiderBar == CustomerSiderBar.PostReplies) ? "menu-open" : "")">
                <a href="#">
                    <i class="fa fa-feed"></i>
                    <span>Threads</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="@((Model.SiderBar == CustomerSiderBar.Posts|| Model.SiderBar == CustomerSiderBar.PostReplies) ? "display:block" : "")">
                    <li class="@(Model.SiderBar == CustomerSiderBar.Posts ? "active" : "")">
                        <a href="@Url.Action("MyPosts", "Customer")"><i class="fa fa-circle-o"></i> My Post</a>
                    </li>
                    <li class="@(Model.SiderBar == CustomerSiderBar.PostReplies ? "active" : "")">
                        <a href="@Url.Action("MyReplies", "Customer")"><i class="fa fa-circle-o"></i> My Replies</a>
                    </li>
                </ul>
            </li>
            <li class="treeview @((Model.SiderBar == CustomerSiderBar.MedicineReview || Model.SiderBar == CustomerSiderBar.OrderReview) ? "menu-open" : "")">
                <a href="#">
                    <i class="fa fa-archive"></i>
                    <span>Reviews</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="@((Model.SiderBar == CustomerSiderBar.MedicineReview|| Model.SiderBar == CustomerSiderBar.OrderReview) ? "display:block" : "")">
                    <li class="@(Model.SiderBar == CustomerSiderBar.MedicineReview ? "active" : "")">
                        <a href="@Url.Action("MyMedicineReview", "Customer")"><i class="fa fa-circle-o"></i> Medicines</a>
                    </li>
                    <li class="@(Model.SiderBar == CustomerSiderBar.OrderReview ? "active" : "")">
                        <a href="@Url.Action("MyOrderReview", "Customer")"><i class="fa fa-circle-o"></i> Orders</a>
                    </li>
                </ul>
            </li>

            <li class="treeview @((Model.SiderBar == CustomerSiderBar.OrderRejected || Model.SiderBar == CustomerSiderBar.OrderActive|| Model.SiderBar == CustomerSiderBar.OrderCancelled || Model.SiderBar == CustomerSiderBar.OrderCompleted || Model.SiderBar == CustomerSiderBar.OrderPending) ? "menu-open" : "")">
                <a href="#">
                    <i class="fa fa-dollar"></i>
                    <span>Orders</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="@((Model.SiderBar == CustomerSiderBar.OrderRejected || Model.SiderBar == CustomerSiderBar.OrderActive|| Model.SiderBar == CustomerSiderBar.OrderCancelled || Model.SiderBar == CustomerSiderBar.OrderCompleted || Model.SiderBar == CustomerSiderBar.OrderPending) ? "display:block" : "")">
                    <li class="@(Model.SiderBar == CustomerSiderBar.OrderRejected ? "active" : "")">
                        <a href="@Url.Action("Order", "Customer",new { type = "Rejected"})"><i class="fa fa-circle-o"></i> Rejected</a>
                    </li>
                    <li class="@(Model.SiderBar == CustomerSiderBar.OrderActive ? "active" : "")">
                        <a href="@Url.Action("Order", "Customer",new { type = "Active"})"><i class="fa fa-circle-o"></i> Active</a>
                    </li>
                    <li class="@(Model.SiderBar == CustomerSiderBar.OrderCancelled ? "active" : "")">
                        <a href="@Url.Action("Order", "Customer",new { type = "Cancelled"})"><i class="fa fa-circle-o"></i> Cancelled</a>
                    </li>
                    <li class="@(Model.SiderBar == CustomerSiderBar.OrderCompleted ? "active" : "")">
                        <a href="@Url.Action("Order", "Customer",new { type = "Completed"})"><i class="fa fa-circle-o"></i> Completed</a>
                    </li>
                    <li class="@(Model.SiderBar == CustomerSiderBar.OrderPending ? "active" : "")">
                        <a href="@Url.Action("Order", "Customer",new { type = "Pending"})"><i class="fa fa-circle-o"></i> Pending</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
