﻿@using FYPWeb.Service
@model FYPWeb.ViewModels.CustomerDashboardProfileViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@SessionService.FullName | @SessionService.UserRole Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/plugins/iCheck/square/blue.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Assets/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/toastr/toastr.css">
    <!-- Morris chart -->
    <script src="~/Assets/bower_components/toastr/toastr.js"></script>
    <link rel="stylesheet" href="~/Assets/bower_components/morris.js/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/Assets/bower_components/jvectormap/jquery-jvectormap.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/Assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-green sidebar-mini">
    <div class="wrapper">
        @{
            Html.RenderPartial("Header", Model.HeaderViewModel);
        }
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box box-success">
                            <div class="box-header">
                                <span class="h2">My Info</span>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button class="btn btn-info" onclick="showImageDialogUser(@SessionService.UserId)">Change Profile Image</button>
                                    </div>
                                </div>
                                <div id="step-1" data-toggle="validator" style="padding: 10px; background: white" class="padding-10-all">
                                    <div class="form-group has-feedback">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name" required value="@Model.User.FirstName">
                                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name" required value="@Model.User.LastName">
                                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label>Contact Number</label>
                                        <input type="text" class="form-control" name="PhoneNumber" id="PhoneNumber" placeholder="Phone Number" required value="@Model.User.ContactNumber">
                                        <span class="fa fa-hashtag form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label>Date of Bith</label>
                                        <input type="text" class="form-control" name="DOB" id="DOB" placeholder="Enter Date Of Birth" required value="@(Model.User.DateOfBrith == DateTime.MinValue ? "" : Model.User.DateOfBrith.ToString("d"))">
                                        <span class="fa fa-clock-o form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label>Address</label>
                                        <textarea class="form-control" placeholder="Enter Address" id="Address" name="Address" required>@Model.User.Address</textarea>
                                        <span class="fa fa-address-book form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label>About Me</label>
                                        <textarea class="form-control" placeholder="Enter Something" id="AboutMe" name="AboutMe">@Model.User.AboutMe</textarea>
                                        <span class="fa fa-exclamation-circle form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label>Signature</label>
                                        <textarea class="form-control" placeholder="Enter your Signature" id="Signature" name="Signature">@Model.User.Signature</textarea>
                                        <span class="fa fa-signing form-control-feedback"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="">
                                            <label>Select Gender</label>
                                            <div class="">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="gender" value="male" @(Model.User.Gender.ToLower() == "male" ? "checked" : "")>
                                                        Male
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="gender" value="female" @(Model.User.Gender.ToLower() == "female" ? "checked" : "")>
                                                        Female
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button class="btn btn-primary" onclick="updateProfile(@SessionService.UserId)">Update Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>  <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        @{
            Html.RenderPartial("Footer");
        }
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
<script src="~/Assets/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/js"></script>

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <script src="~/Assets/bower_components/raphael/raphael.min.js"></script>
    <script src="~/Assets/bower_components/morris.js/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Assets/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/Assets/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Assets/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Assets/bower_components/moment/min/moment.min.js"></script>
    <script src="~/Assets/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="~/Assets/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/Assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="~/Assets/bower_components/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <!-- AdminLTE App -->
    <script src="~/Assets/dist/js/adminlte.min.js"></script>
    <script src="~/Assets/bower_components/toastr/toastr.js"></script>
    <script src="~/Assets/Assets/js/util.js"></script>
    <script src="~/Assets/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Assets/Assets/js/pharmacistDashboardProfile.js"></script>
    <script src="~/Assets/Assets/js/signalRLib.js"></script>
    <script>
    $(function() {
        @if (SessionService.UserId != "")
        {
            @:startSignalR('@SessionService.GetClientId()');
        }
    });

    </script>

<script>
    $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' // optional
    });
    $("#DOB").inputmask("m/d/y");

    $("#PhoneNumber").inputmask("9999-9999999");

</script>

</body>
</html>