﻿<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2017-2018 <a href="https://facebook.com">OMDM</a>.</strong> All rights
    reserved.
</footer>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>

            <div class="modal-body"  style="max-height: 500px; overflow: auto">

                Content is loading...

            </div>

            
        </div>
    </div>
</div>

<div class="modal fade" id="myConfirmModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>

            <div class="modal-body">

                Content is loading...

            </div>
            <div class="modal-footer">
                <button type="button" class="yesbtn btn btn-success" aria-hidden="true">Yes</button>
                <button type="button" class="nobtn btn btn-default" data-dismiss="modal" aria-hidden="true">No</button>
            </div>

        </div>
    </div>
</div>
<div id="myImageModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img id="modalTestImage2" src="" class="img-responsive" alt="" />
            </div>
        </div>
    </div>
</div>