﻿@using FYPWeb.Service
@using FYPWeb.ViewModels
@model FYPWeb.ViewModels.AdminHeaderViewModel
<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Index", "Home")" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
            <img src="~/Assets/Assets/img/logo-32.png" class="center-block img-responsive img-circle" alt="OMDM Logo">
        </span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            <img src="~/Assets/Assets/img/OMDM-logo-horizontal-small.png" class="center-block img-responsive" alt="OMDM Logo">
        </span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <!-- Menu toggle button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="getNotification(this,@SessionService.UserId)">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning" id="notificationCount">10</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <!-- Inner Menu: contains the notifications -->
                            <ul class="menu" id="notificationList">
                                <li>
                                    <!-- start notification -->
                                    <a href="#">
                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                    </a>
                                </li>
                                <!-- end notification -->
                            </ul>
                        </li>
                        <li class="footer"><a href="@(SessionService.UserRole.Contains("Customer") ? Url.Action("Notification","Customer") : Url.Action("Notification","Pharmacist"))">View all</a></li>
                    </ul>
                </li>
                <li class="dropdown notifications-menu">
                    <!-- Menu toggle button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="goToUrl('@Url.Action("Message","Home")')">
                        <i class="fa fa-envelope"></i>
                        <span class="label label-warning" id="messageCount">0</span>
                    </a>
                </li>
                <!-- Tasks: style can be found in dropdown.less -->
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="@SessionService.UserImage" class="user-image" alt="User Image">
                        <span class="hidden-xs">@SessionService.FullName</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="@SessionService.UserImage" class="img-circle" alt="User Image">

                            <p>
                                @SessionService.FullName - Admin
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-primary btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="@Url.Action("LogOut","Home")" class="btn btn-danger btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="@SessionService.UserImage" class="img-circle img-responsive" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@SessionService.FullName</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="@(Model.SiderBar == AdminSideBar.Dashboard ? "active" : "")">
                <a href="@Url.Action("Index", "Admin")">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="@(Model.SiderBar == AdminSideBar.ForumCategory ? "active" : "")">
                <a href="@Url.Action("Category","Admin")">
                    <i class="ion ion-android-archive"></i> <span>Category</span>
                </a>
            </li>
            <li class="treeview @((Model.SiderBar == AdminSideBar.UserActive || Model.SiderBar == AdminSideBar.UserInActive) ? "menu-open" : "")">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>Users</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="@((Model.SiderBar == AdminSideBar.UserActive || Model.SiderBar == AdminSideBar.UserInActive) ? "display:block" : "")">
                    <li class="@(Model.SiderBar == AdminSideBar.UserActive ? "active" : "")">
                        <a href="@Url.Action("Users","Admin",new { type = "active" })"><i class="fa fa-circle-o"></i> Active</a>
                    </li>
                    <li class="@(Model.SiderBar == AdminSideBar.UserInActive ? "active" : "")">
                        <a href="@Url.Action("Users","Admin",new { type = "inactive" })"><i class="fa fa-circle-o"></i> InActive</a>
                    </li>
                </ul>
            </li>
            <li class="@(Model.SiderBar == AdminSideBar.Post ? "active" : "")">
                <a href="@Url.Action("Post","Admin")">
                    <i class="fa fa-feed"></i> <span>Post</span>
                </a>
            </li>

            <li class="treeview @((Model.SiderBar == AdminSideBar.PharmacyPending || Model.SiderBar == AdminSideBar.PharmacyApproved) ? "menu-open" : "")">
                <a href="#">
                    <i class="fa fa-hospital-o"></i>
                    <span>Pharmacy</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="@((Model.SiderBar == AdminSideBar.PharmacyPending || Model.SiderBar == AdminSideBar.PharmacyRejected || Model.SiderBar == AdminSideBar.PharmacyApproved) ? "display:block" : "")">
                    <li class="@(Model.SiderBar == AdminSideBar.PharmacyPending ? "active" : "")">
                        <a href="@Url.Action("Pharmacy","Admin",new { type = "Pending"})"><i class="fa fa-circle-o"></i> Pending</a>
                    </li>
                    <li class="@(Model.SiderBar == AdminSideBar.PharmacyApproved ? "active" : "")">
                        <a href="@Url.Action("Pharmacy","Admin",new { type = "Approved"})"><i class="fa fa-circle-o"></i> Approved</a>
                    </li>
                    <li class="@(Model.SiderBar == AdminSideBar.PharmacyRejected ? "active" : "")">
                        <a href="@Url.Action("Pharmacy","Admin",new { type = "Rejected"})"><i class="fa fa-circle-o"></i> Rejected</a>
                    </li>
                </ul>
            </li>

            <li class="@(Model.SiderBar == AdminSideBar.Medicines ? "active" : "")">
                <a href="@Url.Action("Medicine","Admin")">
                    <i class="fa fa-medkit"></i> <span>Medicines</span>
                </a>
            </li>
            <li class="@(Model.SiderBar == AdminSideBar.MedicineDetails ? "active" : "")">
                <a href="@Url.Action("MedicineDetail","Admin")">
                    <i class="ion ion-ios-medical"></i> <span>Medicine Details</span>
                </a>
            </li>
            <li class="@(Model.SiderBar == AdminSideBar.Company ? "active" : "")">
                <a href="@Url.Action("Company","Admin")">
                    <i class="fa fa-building"></i> <span>Company</span>
                </a>
            </li>
            <li class="@(Model.SiderBar == AdminSideBar.Brands ? "active" : "")">
                <a href="@Url.Action("Brand","Admin")">
                    <i class="fa fa-medkit"></i> <span>Brands</span>
                </a>
            </li>
            <li class="@(Model.SiderBar == AdminSideBar.Diseases ? "active" : "")">
                <a href="@Url.Action("Disease","Admin")">
                    <i class="fa fa-deafness"></i> <span>Diseases</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>