﻿@using FYPWeb.Service
@using FYPWeb.ViewModels
@model AdminDashboardPostViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@SessionService.FullName | @SessionService.UserRole Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
    folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Assets/dist/css/skins/_all-skins.min.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/Assets/bower_components/morris.js/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/Assets/bower_components/jvectormap/jquery-jvectormap.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/Assets/bower_components/dropzone/dropzone.css">
    <link rel="stylesheet" href="~/Assets/bower_components/toastr/toastr.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/Assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Assets/plugins/iCheck/square/blue.css">
    <link rel="stylesheet" href="~/Assets/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/simple-pagination/simple-pagination.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-green sidebar-mini">
<div class="wrapper">


    @{
        Html.RenderPartial("Header", Model.HeaderViewModel);
    }
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
                <small>Control panel</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Posts in Application</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <i class="fa fa-search"></i>
                                        <input type="text" id="searchCompany" onkeypress="searchPost(this,event)" placeholder="Search for Names , Company">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <button class="btn btn-primary right-side" onclick="showaddDialogPost()">Add Post</button>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>Orignal Poster</th>
                                            <th>Subject</th>
                                            <th>Category</th>
                                            <th>Tags</th>
                                            <th>Posted At</th>
                                            <th>Total Replies</th>
                                            <th>Options</th>
                                        </tr>
                                        </thead>
                                        <tbody id="postTable"></tbody>

                                    </table>
                                    <div id="overlay"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="pagination" id="postPagination">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>

    <!-- /.content-wrapper -->
    @{
        Html.RenderPartial("Footer");
    }
</div>
<!-- ./wrapper -->
<!-- jQuery 3 -->
<script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="~/Assets/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="~/signalr/js"></script>

<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Morris.js charts -->
<script src="~/Assets/bower_components/raphael/raphael.min.js"></script>
<script src="~/Assets/bower_components/morris.js/morris.min.js"></script>
<!-- Sparkline -->
<script src="~/Assets/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="~/Assets/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/Assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="~/Assets/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="~/Assets/bower_components/moment/min/moment.min.js"></script>
<script src="~/Assets/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="~/Assets/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="~/Assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="~/Assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/Assets/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="~/Assets/dist/js/adminlte.min.js"></script>
<!-- DataTables -->
<script src="~/Assets/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="~/Assets/plugins/iCheck/icheck.min.js"></script>
<script src="~/Assets/bower_components/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Assets/bower_components/dropzone/dropzone.js"></script>

<!-- Page script -->
<script src="~/Assets/bower_components/toastr/toastr.js"></script>
    <script src="~/Assets/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="~/Assets/bower_components/simple-pagination/simple-pagination.js"></script>
<script src="~/Assets/Assets/js/util.js"></script>
<script src="~/Assets/Assets/js/adminDashboardPost.js"></script>
<script src="~/Assets/Assets/js/signalRLib.js"></script>
<script>
    var userId = @SessionService.UserId;
    $(function () {
        searchPost(null);
        @if (SessionService.UserId != "")
        {
            @:startSignalR('@SessionService.GetClientId()');
        }
    });
</script>
</body>
</html>