﻿@using FYPWeb.Service
@using FYPWeb.ViewModels
@model AllCompanyViewModal
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OMDM | All Diseases</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick-theme.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Assets/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/toastr/toastr.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-green layout-top-nav">
    <div class="wrapper">
        @{
            Html.RenderPartial("Header", Model.HeaderViewModel);
        }
        <!-- Full Width Column -->
        <div class="content-wrapper">
            <div class="container">
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-solid box-success">
                                <div class="box-header">
                                    All Companies
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <ul class="pagination" id="brandPagination">
                                                @if (Model.Page > 1)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("AllCompanies", "Home", new {parameter = Model.Parameter, page = 1})"><< First</a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("AllCompanies", "Home", new {parameter = Model.Parameter, page = Model.Page - 1})">< Prev</a>
                                                    </li>
                                                }
                                                <li class="active">
                                                    <a href="@Url.Action("AllCompanies", "Home", new {parameter = Model.Parameter, page = Model.Page})">@Model.Page</a>
                                                </li>
                                                @if (Model.Page + 1 <= Model.PageCount)
                                                {
                                                    <li class="">
                                                        <a href="@Url.Action("AllCompanies", "Home", new {parameter = Model.Parameter, page = Model.Page + 1})">@(Model.Page + 1)</a>
                                                    </li>
                                                }
                                                @if (Model.Page + 2 <= Model.PageCount)
                                                {
                                                    <li class="">
                                                        <a href="@Url.Action("AllCompanies", "Home", new {parameter = Model.Parameter, page = Model.Page + 2})">@(Model.Page + 2)</a>
                                                    </li>
                                                }
                                                @if (Model.Page < Model.PageCount)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("AllCompanies", "Home", new {parameter = Model.Parameter, page = Model.Page + 1})">Next ></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("AllCompanies", "Home", new {parameter = Model.Parameter, page = Model.PageCount})">Last >></a>
                                                    </li>
                                                }
                                            </ul>

                                        </div>
                                    </div>
                                    @foreach (var modelCompany in Model.Companies)
                                    {
                                        <div class="row" style="cursor: pointer" onclick="goToUrl('@Url.Action("Index","Company",new {id = modelCompany.Id})')">
                                            <div class="col-xs-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-xs-1">
                                                                <img class="img-responsive" src="@modelCompany.ImagePath" height="128" alt="" />
                                                            </div>
                                                            <div class="col-xs-9">
                                                                <div class="row">
                                                                    <div class="col-xs-12 text-bold">
                                                                        @modelCompany.CompanyName
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        @modelCompany.Address
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-wrapper -->
        @{
            Html.RenderPartial("Footer", null);
        }
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Assets/bower_components/slick/slick.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/js"></script>

    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/bower_components/toastr/toastr.js"></script>
    <script src="~/Assets/Assets/js/util.js"></script>

    <script src="~/Assets/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
<script src="~/Assets/Assets/js/util.js"></script>
    <script src="~/Assets/Assets/js/signalRLib.js"></script>

    <script>
    $(function() {
        @if (SessionService.UserId != "")
        {
            @:startSignalR('@SessionService.GetClientId()');
        }
    });

    </script>

</body>
</html>
