﻿@using FYPWeb.Service
@using FYPWeb.ViewModels
@model AllMedicinesViewModal
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OMDM | All Medicines</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick-theme.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Assets/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/toastr/toastr.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-green layout-top-nav">
    <div class="wrapper">
        @{
            Html.RenderPartial("Header", Model.HeaderViewModel);
        }
        <!-- Full Width Column -->
        <div class="content-wrapper">
            <div class="container">
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="box box-success">
                                <div class="box-header">
                                    Filter
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span class="text-bold">Select Rating</span>
                                            <br />
                                            <br />
                                            <ul class="list-group text-bold">
                                                <li class="list-group-item" data-rating="4" style="cursor: pointer" onclick="changeRating(this)">
                                                    <i class="ion ion-star" style="color: gold"></i>
                                                    <i class="ion ion-star" style="color: gold"></i>
                                                    <i class="ion ion-star" style="color: gold"></i>
                                                    <i class="ion ion-star" style="color: gold"></i>
                                                    &nbsp;
                                                    &nbsp;
                                                    &nbsp;
                                                    > 4
                                                </li>
                                                <li class="list-group-item" data-rating="3" style="cursor: pointer" onclick="changeRating(this)">
                                                    <i class="ion ion-star" style="color: gold"></i>
                                                    <i class="ion ion-star" style="color: gold"></i>
                                                    <i class="ion ion-star" style="color: gold"></i>
                                                    <i class="ion ion-star"></i>
                                                    &nbsp;
                                                    &nbsp;
                                                    &nbsp;
                                                    > 3
                                                </li>
                                                <li class="list-group-item" data-rating="2" style="cursor: pointer" onclick="changeRating(this)">
                                                    <i class="ion ion-star" style="color: gold"></i>
                                                    <i class="ion ion-star" style="color: gold"></i>
                                                    <i class="ion ion-star"></i>
                                                    <i class="ion ion-star"></i>
                                                    &nbsp;
                                                    &nbsp;
                                                    &nbsp;
                                                    > 2
                                                </li>
                                                <li class="list-group-item" data-rating="1" style="cursor: pointer" onclick="changeRating(this)">
                                                    <i class="ion ion-star" style="color: gold"></i>
                                                    <i class="ion ion-star"></i>
                                                    <i class="ion ion-star"></i>
                                                    <i class="ion ion-star"></i>
                                                    &nbsp;
                                                    &nbsp;
                                                    &nbsp;
                                                    > 1
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <hr />
                                    @if (SessionService.UserRole != "Pharmacist")
                                    {
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span class="text-bold">Select Pharmacies</span>
                                                <select class="form-control" id="pharmacySearch" style="width: 100%"></select>
                                            </div>
                                        </div>
                                        <hr />
                                    }
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span class="text-bold">Select Form</span>
                                            <select class="form-control" id="drugFormSearch" style="width: 100%"></select>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span class="text-bold">Select Min/Max</span>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                                        <input type="number" id="minPrice" min="0" class="form-control" placeholder="Min Rs">
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                                        <input type="number" id="maxPrice" min="0" class="form-control" placeholder="Max Rs">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span class="text-bold">Sort By</span>
                                            <select class="form-control" id="sortType" style="width: 100%">
                                                <option value="0">None</option>
                                                <option value="1">Sort A-Z</option>
                                                <option value="2">Sort Z-A</option>
                                                <option value="3">Sort By Price</option>
                                                <option value="4">Sort By Price Desc</option>
                                                <option value="5">Sort By Rating</option>
                                                <option value="6">Sort By Rating Desc</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-info" onclick="applyFilter()">Apply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-8">
                            <div class="box box-solid box-success">
                                <div class="box-header">
                                    All Medicines
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            @if(Model.PageCount > 0) { 
                                                <ul class="pagination" id="brandPagination">
                                                @if (Model.Page > 1)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("AllMedicine", "Home", new {parameter = Model.Parameter, page = 1, rating = Model.Rating, form = Model.Form, min = Model.Min, max = Model.Max, pharmacyId = Model.PharmacyId, brandId = Model.BrandId})"><< First</a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("AllMedicine", "Home", new {parameter = Model.Parameter, page = Model.Page - 1, rating = Model.Rating, form = Model.Form, min = Model.Min, max = Model.Max, pharmacyId = Model.PharmacyId, brandId = Model.BrandId})">< Prev</a>
                                                    </li>
                                                }
                                                <li class="active">
                                                    <a href="@Url.Action("AllMedicine", "Home", new {parameter = Model.Parameter, page = Model.Page, rating = Model.Rating, form = Model.Form, min = Model.Min, max = Model.Max, pharmacyId = Model.PharmacyId, brandId = Model.BrandId})">@Model.Page</a>
                                                </li>
                                                @if (Model.Page + 1 <= Model.PageCount)
                                                {
                                                    <li class="">
                                                        <a href="@Url.Action("AllMedicine", "Home", new {parameter = Model.Parameter, page = Model.Page + 1, rating = Model.Rating, form = Model.Form, min = Model.Min, max = Model.Max, pharmacyId = Model.PharmacyId, brandId = Model.BrandId})">@(Model.Page + 1)</a>
                                                    </li>
                                                }
                                                @if (Model.Page + 2 <= Model.PageCount)
                                                {
                                                    <li class="">
                                                        <a href="@Url.Action("AllMedicine", "Home", new {parameter = Model.Parameter, page = Model.Page + 2, rating = Model.Rating, form = Model.Form, min = Model.Min, max = Model.Max, pharmacyId = Model.PharmacyId, brandId = Model.BrandId})">@(Model.Page + 2)</a>
                                                    </li>
                                                }
                                                @if (Model.Page < 97 && 100 <= Model.PageCount)
                                                {
                                                    <li class="">
                                                        <a href="@Url.Action("AllMedicine", "Home", new {parameter = Model.Parameter, page = 100, rating = Model.Rating, form = Model.Form, min = Model.Min, max = Model.Max, pharmacyId = Model.PharmacyId, brandId = Model.BrandId})">100</a>
                                                    </li>
                                                }
                                                @if (Model.Page < 197 && 200 <= Model.PageCount)
                                                {
                                                    <li class="">
                                                        <a href="@Url.Action("AllMedicine", "Home", new {parameter = Model.Parameter, page = 200, rating = Model.Rating, form = Model.Form, min = Model.Min, max = Model.Max, pharmacyId = Model.PharmacyId, brandId = Model.BrandId})">200</a>
                                                    </li>
                                                }
                                                @if (Model.Page < 297 && 300 <= Model.PageCount)
                                                {
                                                    <li class="">
                                                        <a href="@Url.Action("AllMedicine", "Home", new {parameter = Model.Parameter, page = 300, rating = Model.Rating, form = Model.Form, min = Model.Min, max = Model.Max, pharmacyId = Model.PharmacyId, brandId = Model.BrandId})">300</a>
                                                    </li>
                                                }
                                                @if (Model.Page < Model.PageCount)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("AllMedicine", "Home", new {parameter = Model.Parameter, page = Model.Page + 1, rating = Model.Rating, form = Model.Form, min = Model.Min, max = Model.Max, pharmacyId = Model.PharmacyId, brandId = Model.BrandId})">Next ></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("AllMedicine", "Home", new {parameter = Model.Parameter, page = Model.PageCount, rating = Model.Rating, form = Model.Form, min = Model.Min, max = Model.Max, pharmacyId = Model.PharmacyId, brandId = Model.BrandId})">Last >></a>
                                                    </li>
                                                }
                                            </ul>
                                            }
                                        </div>
                                    </div>
                                    @if (SessionService.UserRole == "Pharmacist")
                                    {
                                        if (!Model.PharmacyDrugs.Any())
                                        {
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    No Data Found
                                                </div>
                                            </div>
                                        }

                                        foreach (var modelDrug in Model.PharmacyDrugs)
                                        {
                                            <div class="row" style="cursor: pointer">
                                                <div class="col-xs-12">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-xs-1">
                                                                    <img class="img-responsive" src="@modelDrug.DrugDetail.ImageLink" height="128" />
                                                                </div>
                                                                <div class="col-xs-11">
                                                                    <div class="row">
                                                                        <div class="col-xs-8" onclick="goToUrl('@Url.Action("Index", "Medicine", new {id = modelDrug.Id})')">
                                                                            <div class="row">
                                                                                <div class="col-xs-12 text-bold">
                                                                                    @modelDrug.Brand.BrandName  @modelDrug.DrugName <br />
                                                                                    <i class="fa fa-star" style="color: gold"></i>@(modelDrug.DrugReviews.Any() ? modelDrug.DrugReviews.Average(p => p.Rating).ToString("F") : "0") / 5
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-xs-12">
                                                                                    Form: @modelDrug.DrugForm
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-xs-12">
                                                                                    Packing: @modelDrug.Packing
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-4">
                                                                            <div class="row">
                                                                                <div class="col-xs-12 text-center">
                                                                                    <button onclick="addToInventory(@modelDrug.Id,'@SessionService.UserId')" class="btn btn-info">Add To Inventory</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        if (!Model.CustomerDrugs.Any())
                                        {
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    No Data Found
                                                </div>
                                            </div>
                                        }
                                        foreach (var modelDrug in Model.CustomerDrugs)
                                        {
                                            <div class="row" style="cursor: pointer">
                                                <div class="col-xs-12">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-xs-1">
                                                                    <img class="img-responsive" src="@modelDrug.Drug.DrugDetail.ImageLink" height="128" />
                                                                </div>
                                                                <div class="col-xs-11">
                                                                    <div class="row">
                                                                        <div class="col-xs-8" onclick="goToUrl('@Url.Action("Index", "Medicine", new {id = modelDrug.Id})')">
                                                                            <div class="row">
                                                                                <div class="col-xs-12 text-bold">
                                                                                    @modelDrug.Drug.Brand.BrandName  @modelDrug.Drug.DrugName<br />
                                                                                    <i class="fa fa-star" style="color: gold"></i>@(modelDrug.Drug.DrugReviews.Any() ? modelDrug.Drug.DrugReviews.Average(p => p.Rating).ToString("F") : "0") / 5
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-xs-12">
                                                                                    Form: @modelDrug.Drug.DrugForm
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-xs-12">
                                                                                    Packing: @modelDrug.Drug.Packing
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-xs-12 text-bold">
                                                                                    Pharmacy: @modelDrug.Pharmacy.ShopName
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-4">
                                                                            <div class="row">
                                                                                <div class="col-xs-12">
                                                                                    <p class="text-center text-bold h4">
                                                                                        Rs.@modelDrug.Price
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-xs-12 text-center">
                                                                                    <button onclick="addToCart(@modelDrug.Id,'@SessionService.UserId','@SessionService.SessionId')" class="btn btn-info">Add To Cart</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-wrapper -->
        @{
            Html.RenderPartial("Footer", null);
        }
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/bower_components/slick/slick.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/js"></script>

    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/bower_components/toastr/toastr.js"></script>
    <script src="~/Assets/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Assets/Assets/js/util.js"></script>
    <script src="~/Assets/Assets/js/medicineall.js"></script>

    <script src="~/Assets/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Assets/Assets/js/signalRLib.js"></script>

    <script>
    $(function() {
        @if (SessionService.UserId != "")
        {
            @:startSignalR('@SessionService.GetClientId()');
        }
        initMedicineAll();
    });

    parameter = '@Model.Parameter';
        form = '@Model.Form';
    pharmacyId ='@Model.PharmacyId';
    min ='@Model.Min';
    max ='@Model.Max';
    </script>

</body>
</html>
