﻿@model FYPWeb.ViewModels.LoginViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OMDM | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Assets/plugins/iCheck/square/blue.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo center-block">
            <a href="@(Url.Action("Index","Home"))" style="margin: 10px">
                <img src="~/Assets/Assets/img/OMDM-logo-horizontal-small.png" class="img-responsive center-block">
            </a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            @if (!string.IsNullOrEmpty(Model.Message))
            {
                <p class="alert alert-error">@(string.IsNullOrEmpty(Model.Message) ? "" : Model.Message)</p>
            }
            <form action="@Url.Action("LoginUser","Home")" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" name="Email" placeholder="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" name="Password" placeholder="Password">
                    <input type="hidden" name="Type" id="Type" value="2">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback text-center" style="margin: 5px">
                    <label>Login As</label><span>&nbsp;&nbsp;(Click on button to change)</span>
                    <br>
                    <div class="text-center center-block">
                        <div class="btn-group">
                            <a class="btn btn-success" onclick="changeType(this,2)" id="typeCustomer" style="border-radius: 20px 0 0 20px">Customer</a>
                            <a class="btn btn-default" onclick="changeType(this,3)" id="typePharmacist" style="border-radius: 0 20px 20px 0">Pharmacist</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <!-- /.social-auth-links -->
            <a href="@Url.Action("ForgetPassword","Home")">I forgot my password</a><br>
            <a href="@Url.Action("Register","Home")" class="text-center">Register a new membership</a>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/Assets/plugins/iCheck/icheck.min.js"></script>
    <!-- Custom Login Js -->
    <script src="~/Assets/Assets/js/login.js"></script>
    <script src="~/Assets/Assets/js/util.js"></script>
    <script>

    </script>
</body>
</html>
