﻿@using FYPWeb.Service
@using FYPWeb.ViewModels
@model PharmaciesNearYouViewModal
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OMDM | Pharmacy Near You</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick-theme.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Assets/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/toastr/toastr.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-green layout-top-nav">
    <div class="wrapper">
        @{
            Html.RenderPartial("Header", Model.HeaderViewModel);
        }
        <!-- Full Width Column -->
        <div class="content-wrapper">
            <div class="container">
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-solid box-success">
                                <div class="box-header">
                                    All Pharmacies
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-info" onclick="resetPosition()">Reset Position</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label>Select Location</label>
                                            <input class="placepicker form-control" placeholder="Enter a location" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div id="map" style="height: 450px"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-wrapper -->
        @{
            Html.RenderPartial("Footer", null);
        }
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Assets/bower_components/slick/slick.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/js"></script>

    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/bower_components/toastr/toastr.js"></script>
    <script src="~/Assets/Assets/js/util.js"></script>

    <script src="~/Assets/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Assets/Assets/js/util.js"></script>
    <script src="~/Assets/bower_components/place-picker/js/jquery.placepicker.min.js"></script>
    <script src="~/Assets/Assets/js/pharmacyNearYou.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCERdN9K-zvLr6vWXL3qGh2_jQDR08_Luc&libraries=places&callback=initMapTemp">
</script>
    <script src="~/Assets/Assets/js/signalRLib.js"></script>
    <script>
    $(function() {
        @if (SessionService.UserId != "")
        {
            @:startSignalR('@SessionService.GetClientId()');
        }
    });
    </script>

<script>
    
</script>
</body>
</html>
