﻿@model FYPWeb.ViewModels.RegisterViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OMDM | Register Account</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Assets/plugins/iCheck/square/blue.css">
    <link rel="stylesheet" href="~/Assets/bower_components/SmartWizard/src/css/smart_wizard.css">
    <link rel="stylesheet" href="~/Assets/bower_components/SmartWizard/src/css/smart_wizard_theme_arrows.css">
    <link rel="stylesheet" href="~/Assets/Assets/css/custom.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="" style="background: grey">
    <div class="container">
        <div class="row">
            <div class="box with-border">
                <div class="center-block">
                    <a href="@Url.Action("Index","Home")" style="margin: 10px">
                        <img src="~/Assets/Assets/img/OMDM-logo-horizontal-small.png" class="img-responsive center-block">
                    </a>
                </div>

                <div class="register-box-body">
                    <form action="@Url.Action("RegisterUser","Home")" data-toggle="validator" role="form" method="post">
                        @Html.AntiForgeryToken()
                        <div id="smartwizard" class="padding-5-all">
                            <ul>
                                <li><a href="#step-1">Personal Details<br /><small>Enter your Personal Details</small></a></li>
                                <li><a href="#step-2">Account Details<br /><small>Enter your Account Details</small></a></li>
                                <li><a href="#step-3">Overview<br /><small>Overview of your information</small></a></li>
                            </ul>

                            <div>
                                <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
                                    @if (!string.IsNullOrEmpty(Model.Message)) { 
                                        <p class="alert alert-error">@(string.IsNullOrEmpty(Model.Message) ? "" : Model.Message)</p>
                                    }
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name" required value="@Model.Parameter.FirstName">
                                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name" required value="@Model.Parameter.LastName">
                                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control" name="PhoneNumber" id="PhoneNumber" placeholder="Phone Number" required value="@Model.Parameter.PhoneNumber">
                                        <span class="fa fa-hashtag form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control" name="DOB" id="DOB" placeholder="Enter Date Of Birth" required value="@(Model.Parameter.DOB == DateTime.MinValue ? "" : Model.Parameter.DOB.ToShortDateString())">
                                        <span class="fa fa-clock-o form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <textarea class="form-control" placeholder="Enter Address" id="Address" name="Address" required>@Model.Parameter.Address</textarea>
                                        <span class="fa fa-address-book form-control-feedback"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="">
                                            <label>Select Gender</label>
                                            <div class="">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="gender" value="male" checked>
                                                        Male
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="gender" value="female">
                                                        Female
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-2" data-toggle="validator" style="padding: 10px" class="padding-10-all">
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control" id="Username" name="Username" placeholder="User Name" required value="@Model.Parameter.UserName">
                                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input required name="Email" id="Email" class="form-control" placeholder="Email" value="@Model.Parameter.Email">
                                        <input hidden value="2" required name="Type" id="Type">
                                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" required>
                                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="password" class="form-control" data-match="#Password" placeholder="Retype password" required>
                                        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback text-center" style="margin: 5px">
                                        <label>Register As</label><span>&nbsp;&nbsp;(Click on button to change)</span>
                                        <br>
                                        <div class="text-center center-block">
                                            <div class="btn-group">
                                                <a class="btn btn-success" onclick="changeType(this,2)" id="typeCustomer" style="border-radius: 20px 0 0 20px">Customer</a>
                                                <a class="btn btn-default" onclick="changeType(this,3)" id="typePharmacist" style="border-radius: 0 20px 20px 0">Pharmacist</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-3" data-toggle="validator" style="padding: 10px" class="padding-10-all">
                                    <label>Register As :</label>&nbsp;<span id="TypeLabel">Dusk Lord</span>
                                    <br>
                                    <label>First Name :</label>&nbsp;<span id="FirstNameLabel">Dusk Lord</span>
                                    <br>
                                    <label>Last Name :</label>&nbsp;<span id="LastNameLabel">Dusk Lord</span>
                                    <br>
                                    <label>Phone Number :</label>&nbsp;<span id="PhoneLabel">Dusk Lord</span>
                                    <br>
                                    <label>Date Of Birth :</label>&nbsp;<span id="DOBLabel">Dusk Lord</span>
                                    <br>
                                    <label>Gender :</label>&nbsp;<span id="GenderLabel">Dusk Lord</span>
                                    <br>
                                    <label>Address :</label>&nbsp;<span id="AddressLabel">Dusk Lord</span>
                                    <br>
                                    <label>Username :</label>&nbsp;<span id="UserNameLabel">Dusk Lord</span>
                                    <br>
                                    <label>Email :</label>&nbsp;<span id="EmailLabel">abc@gmail.com</span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <a href="@Url.Action("Login","Home")" class="text-center">I already have a membership</a>
                </div>
                <!-- /.form-box -->
            </div>
        </div>
    </div>
    <!-- /.register-box -->
    <!-- jQuery 3 -->
    <script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/Assets/plugins/iCheck/icheck.min.js"></script>
    <!-- iCheck -->
    <script src="~/Assets/bower_components/SmartWizard/dist/js/jquery.smartWizard.min.js"></script>
    <script src="~/Assets/bower_components/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

<!-- Custom Registration Js -->
    <script src="~/Assets/Assets/js/util.js"></script>
    <script src="~/Assets/Assets/js/register.js"></script>

</body>
</html>
