﻿@using FYPWeb.Service
@using FYPWeb.ViewModels
@model FYPWeb.ViewModels.DiseaseProfileViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OMDM | @Model.Disease.DiseaseName</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick-theme.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Assets/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/toastr/toastr.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-green layout-top-nav">
    <div class="wrapper">
        @{
            Html.RenderPartial("~/Views/Home/Header.cshtml", Model.HeaderViewModel);
        }
        <!-- Full Width Column -->
        <div class="content-wrapper">
            <div class="container">
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-success">
                                <div class="box-body box-profile">
                                    <h3 class="profile-username text-center">@Model.Disease.DiseaseName</h3>
                                    <p class="text-muted text-center">Disease</p>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                            <!-- About Me Box -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title text-bold">Info</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body slimScroll">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <strong>Description</strong>
                                            <p>
                                                @Model.Disease.Description
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title text-bold">Medicines (Cure)</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body slimScrollDiv">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row">

                                                @foreach (var modelDrug in Model.IndicationDrugs)
                                                {
                                                    <div class="col-xs-4" style="cursor: pointer" onclick="goToUrl('@Url.Action("Index", "Medicine", new { id = modelDrug.Id})')">
                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <div class="row">
                                                                            <disv class="col-xs-12">
                                                                                <div class="row">
                                                                                    <div class="col-xs-12 text-bold">
                                                                                        @(modelDrug.Brand + " - " + modelDrug.DrugName) &nbsp;&nbsp; <br />
                                                                                        <i class="fa fa-star" style="color:gold"></i>@(modelDrug.DrugReviews.Any() ? modelDrug.DrugReviews.Average(p => p.Rating) : 0) / 5
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-xs-12">
                                                                                        Form: @modelDrug.DrugForm
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-xs-12">
                                                                                        Packing: @modelDrug.Packing
                                                                                    </div>
                                                                                </div>
                                                                            </disv>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <ul class="pagination">
                                                @if (Model.IndPage > 1)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("Index", "Disease", new { id = Model.Id, conPage = Model.ConPage ,indPage = 1})"><< First</a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Index", "Disease", new { id = Model.Id, conPage = Model.ConPage ,indPage = Model.IndPage - 1})">< Prev</a>
                                                    </li>
                                                }
                                                <li class="active">
                                                    <a href="@Url.Action("Index", "Disease", new { id = Model.Id, conPage = Model.ConPage ,indPage = Model.IndPage})">@Model.IndPage</a>
                                                </li>
                                                @if (Model.IndPage + 1 <= Model.IndPageCount)
                                                {
                                                    <li class="">
                                                        <a href="@Url.Action("Index", "Disease", new { id = Model.Id, conPage = Model.ConPage ,indPage = Model.IndPage + 1})">@(Model.IndPage + 1)</a>
                                                    </li>
                                                }
                                                @if (Model.IndPage + 2 <= Model.IndPageCount)
                                                {
                                                    <li class="">
                                                        <a href="@Url.Action("Index", "Disease", new { id = Model.Id, conPage = Model.ConPage ,indPage = Model.IndPage + 2})">@(Model.IndPage + 2)</a>
                                                    </li>
                                                }
                                                @if (Model.IndPage < 97 && 100 <= Model.IndPageCount)
                                                {
                                                    <li class="">
                                                        <a href="@Url.Action("Index", "Disease", new { id = Model.Id, conPage = Model.ConPage ,indPage = 100})">100</a>
                                                    </li>
                                                }
                                                @if (Model.IndPage < 197 && 200 <= Model.IndPageCount)
                                                {
                                                    <li class="">
                                                        <a href="@Url.Action("Index", "Disease", new { id = Model.Id, conPage = Model.ConPage ,indPage = 200})">200</a>
                                                    </li>
                                                }
                                                @if (Model.IndPage < 297 && 300 <= Model.IndPageCount)
                                                {
                                                    <li class="">
                                                        <a href="@Url.Action("Index", "Disease", new { id = Model.Id, conPage = Model.ConPage ,indPage = 300})">300</a>
                                                    </li>
                                                }
                                                @if (Model.IndPage < Model.IndPageCount)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("Index", "Disease", new { id = Model.Id, conPage = Model.ConPage ,indPage = Model.IndPage + 1})">Next ></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Index", "Disease", new { id = Model.Id, conPage = Model.ConPage ,indPage = Model.IndPageCount})">Last >></a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title text-bold">Medicines (To Avoid)</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body slimScrollDiv">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row">

                                                @foreach (var modelDrug in Model.NonIndicationDrugs)
                                                {
                                                    <div class="col-xs-4" style="cursor: pointer" onclick="goToUrl('@Url.Action("Index", "Medicine", new { id = modelDrug.Id})')">
                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <div class="row">
                                                                            <div class="col-xs-12">
                                                                                <div class="row">
                                                                                    <div class="col-xs-12 text-bold">
                                                                                        @(modelDrug.Brand + " - " + modelDrug.DrugName) &nbsp;&nbsp; <br />
                                                                                        <i class="fa fa-star" style="color:gold"></i>@(modelDrug.DrugReviews.Any() ? modelDrug.DrugReviews.Average(p => p.Rating) : 0) / 5
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-xs-12">
                                                                                        Form: @modelDrug.DrugForm
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-xs-12">
                                                                                        Packing: @modelDrug.Packing
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <ul class="pagination">
                                                @if (Model.ConPage > 1)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("Index", "Disease", new { id = Model.Id, indPage = Model.IndPage ,conPage = 1})"><< First</a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Index", "Disease", new { id = Model.Id, indPage = Model.IndPage ,conPage = Model.ConPage - 1})">< Prev</a>
                                                    </li>
                                                }
                                                <li class="active">
                                                    <a href="@Url.Action("Index", "Disease", new { id = Model.Id, indPage = Model.IndPage ,conPage = Model.ConPage})">@Model.ConPage</a>
                                                </li>
                                                @if (Model.ConPage + 1 <= Model.ConPageCount)
                                                {
                                                    <li class="">
                                                        <a href="@Url.Action("Index", "Disease", new { id = Model.Id, indPage = Model.IndPage ,conPage = Model.ConPage + 1})">@(Model.ConPage + 1)</a>
                                                    </li>
                                                }
                                                @if (Model.ConPage + 2 <= Model.ConPageCount)
                                                {
                                                    <li class="">
                                                        <a href="@Url.Action("Index", "Disease", new { id = Model.Id, indPage = Model.IndPage ,conPage = Model.ConPage + 2})">@(Model.ConPage + 2)</a>
                                                    </li>
                                                }
                                                @if (Model.ConPage < 97 && 100 <= Model.ConPageCount)
                                                {
                                                    <li class="">
                                                        <a href="@Url.Action("Index", "Disease", new { id = Model.Id, indPage = Model.IndPage ,conPage = 100})">100</a>
                                                    </li>
                                                }
                                                @if (Model.ConPage < 197 && 200 <= Model.ConPageCount)
                                                {
                                                    <li class="">
                                                        <a href="@Url.Action("Index", "Disease", new { id = Model.Id, indPage = Model.IndPage ,conPage = 200})">200</a>
                                                    </li>
                                                }
                                                @if (Model.ConPage < 297 && 300 <= Model.ConPageCount)
                                                {
                                                    <li class="">
                                                        <a href="@Url.Action("Index", "Disease", new { id = Model.Id, indPage = Model.IndPage ,conPage = 300})">300</a>
                                                    </li>
                                                }
                                                @if (Model.ConPage < Model.ConPageCount)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("Index", "Disease", new { id = Model.Id, indPage = Model.IndPage ,conPage = Model.ConPage + 1})">Next ></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Index", "Disease", new { id = Model.Id, indPage = Model.IndPage ,conPage = Model.ConPageCount})">Last >></a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-wrapper -->
        @{
            Html.RenderPartial("~/Views/Home/Footer.cshtml", null);
        }
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/js"></script>

    <script src="~/Assets/bower_components/slick/slick.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/bower_components/toastr/toastr.js"></script>
    <script src="~/Assets/Assets/js/util.js"></script>

    <script src="~/Assets/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Assets/Assets/js/util.js"></script>
    <script src="~/Assets/Assets/js/signalRLib.js"></script>
    <script>
        $(function () {
            $(".slimScrollDiv").slimScroll({
                height: '250px'
            });
            @if (SessionService.UserId != "")
        {
            @:startSignalR('@SessionService.GetClientId()');
        }
        });
    </script>

</body>
</html>
