﻿@using FYPWeb.Service
@using FYPWeb.Services.Util
@model FYPWeb.ViewModels.HomeProfileViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OMDM | HomePage</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick-theme.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Assets/dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-green layout-top-nav">
    <div class="wrapper">
        @{
            Html.RenderPartial("~/Views/Home/Header.cshtml", Model.HeaderViewModel);
        }
        <!-- Full Width Column -->
        <div class="row">
            <div class="col-xs-12">
                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <!-- Main content -->
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <!-- Profile Image -->
                                <div class="box box-success">
                                    <div class="box-body box-profile">
                                        <img class="profile-user-img img-responsive img-circle online" src="@Model.User.UserImage" alt="User profile picture">

                                        <h3 class="profile-username text-center">@Model.User.FirstName @Model.User.LastName</h3>
                                        <p class="text-muted text-center">Pharmacist</p>
                                        <p class="text-center h4 text-bold">@(Model.Pharmacy.PharmacyReviews.Any() ? Model.Pharmacy.PharmacyReviews.Average(p => p.Rating).ToString("0.00") : "0")/5 <i class="fa fa-star" style="color: gold"></i> </p>
                                        @if (SessionService.UserId != "" && SessionService.UserRole == "Customer")
                                        {
                                            <p class="text-center">
                                                <a class="btn btn-success btn-lg" href="@Url.Action("PlaceOrder", "Order", new {pid = Model.Pharmacy.Id})">Order Now</a>
                                            </p>
                                        }
                                        else if (SessionService.UserId == "")
                                        {
                                            <p class="text-center">
                                                <a class="btn btn-success btn-lg" onclick="showLoginRegsiterForm()">Order Now</a>
                                            </p>
                                        }
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                                <!-- About Me Box -->
                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Info</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body slimScrollDiv">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <strong>About Us</strong>
                                                <p>
                                                    @Model.User.AboutMe
                                                </p>
                                            </div>
                                        </div>
                                        @if (Model.Pharmacy != null)
                                        {
                                            <hr>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <strong>Pharmacy Name</strong>
                                                    <p>
                                                        @Model.Pharmacy.ShopName
                                                    </p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <strong>Address</strong>
                                                    <p>
                                                        @Model.Pharmacy.ShopAddress
                                                    </p>
                                                    <br />
                                                    <button class="btn btn-info" onclick="showMap(@Model.Pharmacy.Id)">Show On Map</button>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <strong>Phone Number</strong>
                                                    <p>
                                                        @Model.Pharmacy.ContactNumber
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <strong>Contact Person</strong>
                                                    <p>
                                                        @Model.Pharmacy.ContactPersonName
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Promotions</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body slimScrollDiv chat">
                                        @if (Model.Pharmacy != null)
                                        {
                                            foreach (var r in Model.Pharmacy.Promotions.Where(p => DateTime.Now >= p.StartDate && DateTime.Now <= p.EndDate).ToList())
                                            {
                                                <div class="item">
                                                    <img src="@UtilService.DefaultImagePath" alt="user image" class="online">
                                                    <p class="message">
                                                        <span class="name">
                                                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> @r.StartDate.ToShortDateString() -- @r.EndDate.ToShortDateString()</small>
                                                            <small class="text-muted pull-left"></small>
                                                            @r.Name -- Code '@r.Code'
                                                        </span>
                                                        <span class="h4 text-bold">@r.PercentageOff</span> &nbsp;<i class="fa fa-percent" style="color: black"></i>
                                                        <br />
                                                        @r.Description
                                                    </p>
                                                    <!-- /.attachment -->
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                
                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Medicines</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body slimScrollDiv">
                                        @if (Model.Pharmacy != null)
                                        {
                                            foreach (var modelDrug in Model.InventoryTracks)
                                            {
                                                <div class="col-xs-12 col-md-3" style="cursor: pointer" onclick="goToUrl('@Url.Action("Index", "Medicine", new {Id = modelDrug.Id})')">
                                                    <div class="box box-widget">
                                                        <div class="box-header text-bold text-center">
                                                            @modelDrug.Drug.Brand <br/> @modelDrug.Drug.DrugName
                                                        </div>
                                                        <div class="box-body">
                                                            <img src="@modelDrug.Drug.DrugDetail.ImageLink" width="64" class="center-block img-responsive">
                                                            <div class="">
                                                                <div class="center-block text-center">
                                                                    <span class="info-box-text text-bold">Rs @modelDrug.Price</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div class="box-footer">
                                        <ul class="pagination">
                                            @if (Model.Page > 1)
                                            {
                                                <li>
                                                    <a href="@Url.Action("Index", "Profile", new { username = Model.User.Username, page = 1})"><< First</a>
                                                </li>
                                                    <li>
                                                        <a href="@Url.Action("Index", "Profile", new {  username = Model.User.Username,page = Model.Page - 1})">< Prev</a>
                                                    </li>
                                            }
                                            <li class="active">
                                                <a href="@Url.Action("Index", "Profile", new {  username = Model.User.Username,page = Model.Page})">@Model.Page</a>
                                            </li>
                                            @if (Model.Page + 1 <= Model.PageCount)
                                            {
                                                <li class="">
                                                    <a href="@Url.Action("Index", "Profile", new {  username = Model.User.Username,page = Model.Page + 1})">@(Model.Page + 1)</a>
                                                </li>
                                            }
                                            @if (Model.Page + 2 <= Model.PageCount)
                                            {
                                                <li class="">
                                                    <a href="@Url.Action("Index", "Profile", new {  username = Model.User.Username,page = Model.Page + 2})">@(Model.Page + 2)</a>
                                                </li>
                                            }
                                            @if (Model.Page < Model.PageCount)
                                            {
                                                <li>
                                                    <a href="@Url.Action("Index", "Profile", new {  username = Model.User.Username,page = Model.Page + 1})">Next ></a>
                                                </li>
                                                    <li>
                                                        <a href="@Url.Action("Index", "Profile", new {  username = Model.User.Username,page = Model.PageCount})">Last >></a>
                                                    </li>
                                            }
                                        </ul>


                                    </div>
                                </div>


                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Reviews</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body slimScrollDiv chat">
                                        @if (Model.Pharmacy != null)
                                        {
                                            foreach (var r in Model.Pharmacy.PharmacyReviews)
                                            {
                                                <div class="item">
                                                    <img src="@r.User.UserImage" alt="user image" class="online">

                                                    <p class="message">
                                                        <a href="#" class="name">
                                                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> @r.PostedAt.ToShortDateString() -- @r.PostedAt.ToShortTimeString()</small>
                                                            <small class="text-muted pull-left"></small>
                                                            @(r.User.FirstName + " " + r.User.LastName) &nbsp; &nbsp;
                                                        </a>
                                                        <i class="fa fa-star" style="color: gold"></i> @r.Rating / 5
                                                        <br />
                                                        @r.Review
                                                    </p>
                                                    <!-- /.attachment -->
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.col -->
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                    </section>
                    <!-- /.content -->
                </div>
            </div><!-- /.content-wrapper -->
        </div>

        <!-- /.content-wrapper -->
        @{
            Html.RenderPartial("~/Views/Home/Footer.cshtml", null);
        }
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/bower_components/slick/slick.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/dist/js/adminlte.min.js"></script>
    <script src="~/Assets/Assets/js/util.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCERdN9K-zvLr6vWXL3qGh2_jQDR08_Luc&libraries=places">
    </script>
    <!-- AdminLTE for demo purposes -->
<script src="~/Assets/Assets/js/homeProfile.js"></script>
    <script src="~/Assets/Assets/js/util.js"></script>
    <script src="~/Assets/Assets/js/signalRLib.js"></script>
    <script>
    $(function() {
        @if (SessionService.UserId != "")
        {
            @:startSignalR('@SessionService.GetClientId()');
        }
    });

    </script>

</body>
</html>
