﻿@using FYPWeb.Service
@using FYPWeb.ViewModels
@model FYPWeb.ViewModels.SearchIndexViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OMDM | Search '@Model.Query'</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick.css">
    <link rel="stylesheet" href="~/Assets/bower_components/slick/slick-theme.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Assets/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/Assets/bower_components/toastr/toastr.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-green layout-top-nav">
    <div class="wrapper">
        @{
            Html.RenderPartial("~/Views/Home/Header.cshtml", Model.HeaderViewModel);
        }
        <!-- Full Width Column -->
        <div class="content-wrapper">
            <div class="container">
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-solid box-success">
                                <div class="box-header">
                                    Search for '@Model.Query' in @Model.Type.ToString()
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <ul class="pagination" id="brandPagination">
                                                @if (Model.Page > 1)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("AllMedicine", "Home", new {q = Model.Query, page = 1, type = (int)Model.Type})"><< First</a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("AllMedicine", "Home", new {q = Model.Query, page = Model.Page - 1, type = (int)Model.Type })">< Prev</a>
                                                    </li>
                                                }
                                                <li class="active">
                                                    <a href="@Url.Action("AllMedicine", "Home", new {q = Model.Query, page = Model.Page, type = (int)Model.Type})">@Model.Page</a>
                                                </li>
                                                @if (Model.Page + 1 <= Model.TotalCount)
                                                {
                                                    <li class="">
                                                        <a href="@Url.Action("AllMedicine", "Home", new {q = Model.Query, page = Model.Page + 1, type = (int)Model.Type})">@(Model.Page + 1)</a>
                                                    </li>
                                                }
                                                @if (Model.Page + 2 <= Model.TotalCount)
                                                {
                                                    <li class="">
                                                        <a href="@Url.Action("AllMedicine", "Home", new {q = Model.Query, page = Model.Page + 2, type = (int)Model.Type})">@(Model.Page + 2)</a>
                                                    </li>
                                                }
                                                @if (Model.Page < Model.TotalCount)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("AllMedicine", "Home", new {q = Model.Query, page = Model.Page + 1, type = (int)Model.Type})">Next ></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("AllMedicine", "Home", new {q = Model.Query, page = Model.TotalCount, type = (int)Model.Type})">Last >></a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    @switch (Model.Type)
                                    {
                                        case SearchType.Brand:
                                            foreach (var modelBrand in Model.Brands)
                                            {
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-xs-4">
                                                                        <img src="@modelBrand.ImagePath" />
                                                                    </div>
                                                                    <div class="col-xs-8">
                                                                        @modelBrand.BrandName
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            break;
                                        case SearchType.Drug:
                                            foreach (var modelDrug in Model.Drugs)
                                            {
                                                <div class="row" style="cursor: pointer" onclick="goToUrl('@Url.Action("Index","Medicine",new { id = modelDrug.Id})')">
                                                    <div class="col-xs-12">
                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-xs-1">
                                                                        <img class="img-responsive" src="@modelDrug.DrugDetail.ImageLink" alt="" />
                                                                    </div>
                                                                    <div class="col-xs-11">
                                                                        <div class="row">
                                                                            <div class="col-xs-8">
                                                                                <div class="row">
                                                                                    <div class="col-xs-12 text-bold">
                                                                                        @modelDrug.DrugName <br />
                                                                                        <i class="fa fa-star" style="color:gold"></i>@(modelDrug.DrugReviews.Any() ? modelDrug.DrugReviews.Average(p => p.Rating) : 0) / 5
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-xs-12">
                                                                                        Form: @modelDrug.DrugForm
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-xs-12">
                                                                                        Packing: @modelDrug.Packing
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-4">
                                                                                <div class="row">
                                                                                    <div class="col-xs-12">
                                                                                        <p class="text-center text-bold h3">
                                                                                            Rs.@modelDrug.TradePrice
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            break;
                                        case SearchType.Disease:
                                            foreach (var modelDisease in Model.Diseases)
                                            {
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-xs-12 text-bold">
                                                                        <a href="#">@modelDisease.DiseaseName</a>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        @modelDisease.Description
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            break;
                                        case SearchType.Company:
                                            foreach (var modelCompany in Model.Companies)
                                            {
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-xs-1">
                                                                        <img class="img-responsive" src="@modelCompany.ImagePath" alt="" />
                                                                    </div>
                                                                    <div class="col-xs-11">
                                                                        <div class="row">
                                                                            <div class="col-xs-12 text-bold">
                                                                                @modelCompany.CompanyName
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-xs-12">
                                                                                @modelCompany.Address
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            break;
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-wrapper -->
        @{
            Html.RenderPartial("~/Views/Home/Footer.cshtml", null);
        }
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
<script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Assets/bower_components/slick/slick.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/bower_components/toastr/toastr.js"></script>
    <script src="~/Assets/Assets/js/util.js"></script>

    <script src="~/Assets/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Assets/Assets/js/util.js"></script>
    <script src="~/Assets/Assets/js/util.js"></script>
    <script src="~/Assets/Assets/js/signalRLib.js"></script>
    <script>
    $(function() {
        @if (SessionService.UserId != "")
        {
            @:startSignalR('@SessionService.GetClientId()');
        }
    });

    </script>

</body>
</html>
