﻿@model FYPWeb.ViewModels.AcceptOrderFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <div class="form-group has-feedback">
                <label>Select Employee</label>
                <select id="EmployeeId" name="EmployeeId" class="form-control">
                    @foreach (var modelEmployee in Model.Employees)
                    {
                        <option value="@modelEmployee.Id">@modelEmployee.Name</option>
                    }
                </select>
            </div>
            <div class="form-group has-feedback">
                <label>Estimated Delivery Time (minutes)</label>
                <input class="form-control" type="number" min="5" max="60" id="AcceptedTime" name="AcceptedTime" value="5"/>
            </div>

            <input type="hidden" id="OrderId" name="OrderId" value="@Model.OrderId" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        <button type="button" class="btn btn-info" onclick="acceptOrder()">Accept Order</button>
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
