﻿@model FYPWeb.ViewModels.AddToInventoryFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <div class="form-group has-feedback">
                <label>Medicine Name</label>
                <input type="text" class="form-control" required value="@Model.MedicineName">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <label>Select Pharmacy</label>
                <select required id="PharmacyId" name="PharmacyId" class="form-control">
                    @foreach (var m in Model.Pharmacies)
                    {
                        <option value="@m.Id">@m.ShopName -- @m.ShopAddress</option>
                    }
                </select>
                <span class="fa fa-building-o form-control-feedback"></span>
            </div>
            <input type="hidden" name="UserId" id="UserId" value="@Model.UserId" />
            <input type="hidden" name="MedicineId" id="MedicineId" value="@Model.MedicineId" />
            <div class="form-group">
                <label>Add Item By</label>
                <label><input type="radio" name="AddType" value="0" checked> By Pack</label>
                <label><input type="radio" name="AddType" value="1">Individual Item</label>
            </div>
            <div class="form-group has-feedback">
                <label>Select Amount</label>
                <input type="number" min="1" max="1000" class="form-control" id="Quantity" name="Quantity" value="@Model.Quantity"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        <button type="button" class="btn btn-info" onclick="addToPharmacyInventory()">Add To Inventory</button>
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
