﻿@model FYPWeb.ViewModels.AddToCartFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <div class="form-group has-feedback">
                <label>Medicine Name</label>
                <input type="text" class="form-control" required value="@(Model.InventoryTracks.Any()? Model.InventoryTracks.First().Drug.Brand.BrandName + " " + Model.InventoryTracks.First().Drug.DrugName : "")">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <label>Select Pharmacy</label>
                <select required id="InventoryId" onchange="changePrice(this)" name="InventoryId" class="form-control">
                    <option value="0" data-price="0">Select Pharmacy</option>
                    
                    @foreach (var m in Model.InventoryTracks)
                    {
                        <option value="@m.Id" data-price="@m.Price">@m.Pharmacy.ShopName -- @m.Pharmacy.ShopAddress</option>
                    }
                </select>
                <span class="fa fa-building-o form-control-feedback"></span>
            </div>
            <input type="hidden" name="UserId" id="UserId" value="@Model.UserId" />
            <input type="hidden" name="SessionId" id="SessionId" value="@Model.SessionId" />
            <div class="form-group">
                <label>Add Item By</label>
                <label><input type="radio" onclick="changeItem(@Model.InventoryTracks.First().Drug.ItemsInPack)" name="AddType" value="0"> By Pack</label>
                <label><input type="radio"  onclick="changeItem(1)" name="AddType" value="1" checked>Individual Item</label>
            </div>
            <div class="form-group has-feedback">
                <label>Select Amount</label>
                <input type="number" min="1" max="1000" class="form-control" onchange="changeQuantity(this)" id="Quantity" name="Quantity" value="@Model.Count" />
            </div>
            <div class="form-group">
                <label>Price : Rs <span id="medicinePrice">0</span></label>
                <br/>
                <label>Quantity : <span id="medicineQuantity">@Model.Count</span> x <span id="medicineItem">1</span></label>
                <br />
                <label>Total : Rs <span id="medicneTotal">0</span></label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        <button type="button" class="btn btn-info" onclick="addToCartFromInventory()">Add To Cart</button>
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
