﻿@model FYPWeb.ViewModels.AdminDashboardBrandTableRowViewModel
<tr role="row" id="row_brand_@Model.Id">
    <td id="row_brand_image_@Model.Id" style="cursor: pointer" onclick="showImage('@Model.ImageLink')">
        <img src="@Model.ImageLink" class="" width="64" height="64" alt="" />
    </td>
    <td class=""><a href="/Brand/@Model.Id" id="row_brand_name_@Model.Id">@Model.Name</a> </td>
    <td id="row_brand_company_@Model.Id"> @Model.CompanyName </td>
    <td> @Model.DrugCount </td>
    <td>
        <div class="input-group-btn">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Manage
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu">
                <li onclick="showImageDialogBrand(@Model.Id)"><a href="#">Change Picture</a></li>
                <li onclick="showeditDialogBrand(@Model.Id)"><a href="#">Edit</a></li>
                <li onclick="showdeleteDialogBrand(@Model.Id)"><a href="#">Delete</a></li>
            </ul>
        </div>
    </td>
</tr>