﻿@model FYPWeb.ViewModels.AdminDashboardMedicineTableRowViewModel
<tr role="row" id="row_medicine_@Model.Id">
    <td id="row_medicine_image_@Model.Id" style="cursor: pointer" onclick="showImage('@Model.ImageLink')">
        <img src="@Model.ImageLink" class="" width="64" height="64" alt="" />
    </td>
    <td class=""><a href="/Medicine/@Model.Id" id="row_brand_name_@Model.Id">@Model.Name</a> </td>
    <td id="row_medicine_brand_@Model.Id"><a href="/Brand/@Model.BrandId" target="_blank">@Model.Brand</a>  </td>
    <td> @Model.Form </td>
    <td> @Model.Packing </td>
    <td>
        <div class="input-group-btn">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Manage
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu">
                <li onclick="showImageDialogMedicine(@Model.Id)"><a href="#">Change Picture</a></li>
                <li onclick="showeditDialogMedicine(@Model.Id)"><a href="#">Edit</a></li>
                <li onclick="showdeleteDialogMedicine(@Model.Id)"><a href="#">Delete</a></li>
            </ul>
        </div>
    </td>
</tr>