﻿@model FYPWeb.ViewModels.AdminDashboardCompanyTableRowViewModel
<tr role="row" id="row_company_@Model.Id">
    <td id="row_company_image_@Model.Id" style="cursor: pointer" onclick="showImage('@Model.ImageLink')">
        <img src="@Model.ImageLink" class="" width="64" height="64" alt=""/>
    </td>
    <td class=""><a href="/Company/@Model.Id" target="_blank" id="row_company_name_@Model.Id">@Model.Name</a> </td>
    <td><a href="@(string.IsNullOrEmpty(Model.Link) ? "#" : Model.Link)">@(string.IsNullOrEmpty(Model.Link) ? "No Website Found" : "Visit Website")</a> </td>
    <td id="row_company_address_@Model.Id"> @Model.Address </td>
    <td id="row_company_phone_@Model.Id"> @Model.Phone </td>
    <td id="row_company_fax_@Model.Id"> @Model.Fax </td>
    <td id="row_company_city_@Model.Id"> @Model.City </td>
    <td> @Model.BrandCount </td>
    <td>
        <div class="input-group-btn">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Manage
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu">
                <li onclick="showImageDialogCompany(@Model.Id)"><a href="#">Change Picture</a></li>
                <li onclick="showeditDialogCompany(@Model.Id)"><a href="#">Edit</a></li>
                <li onclick="showdeleteDialogCompany(@Model.Id)"><a href="#">Delete</a></li>
            </ul>
        </div>
    </td>
</tr>