﻿@model FYPWeb.ViewModels.AdminDashboardUserTableRowViewModel
<tr id="row_user_@Model.Id">
    <td>
        <a href="/Profile/@Model.UserName">@Model.UserName</a>
    </td>
    <td id="row_fullname_user_@Model.Id">
        <a href="/Profile/@Model.UserName">@Model.FullName</a>
    </td>
    <td>@Model.Email</td>
    <td id="row_phone_user_@Model.Id">@Model.Phone</td>
    <td id="row_tyoe_user_@Model.Id">@Model.UserType</td>
    <td>
        @if (Model.IsActive)
        {
            <span class="label label-success">Active</span>
        }
        else
        {
            <span class="label label-danger">InActive</span>
        }
    </td>
    <td>
        @if (Model.IsVerified)
        {
            <span class="label label-success">Verified</span>
        }
        else
        {
            <span class="label label-warning">Not Verified</span>
        }
    </td>
    <td>
        <div class="input-group-btn">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Manage
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu">
                <li onclick="editUser(@(Model.Id))"><a href="#">Edit</a></li>
                @if (!Model.IsVerified)
                {
                   <li onclick="verifyUser(@(Model.Id),'@Model.FullName')"><a href="#">Verify User</a></li>
                }
                <li onclick="@(Model.IsActive ? "disableUser(" + Model.Id + ",'" + Model.FullName + "')" : "enableUser(" + Model.Id + ",'" + Model.FullName + "')")"><a href="#">
                   @(Model.IsActive ? "Disable" : "Enable")
                </a></li>
            </ul>
        </div>
    </td>
</tr>