﻿@model FYPWeb.ViewModels.AdminDashboardDiseaseTableRowViewModel
<tr role="row" id="row_disease_@Model.Id">
    <td class=""><a href="/Disease/@Model.Id" target="_blank" id="row_name_@Model.Id">@Model.Name</a> </td>
    <td> @Model.Description </td>
    <td>
        <div class="input-group-btn">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Manage
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu">
                <li onclick="showeditDialogDisease(@Model.Id)"><a href="#">Edit</a></li>
                <li onclick="showdeleteDialogDisease(@Model.Id)"><a href="#">Delete</a></li>
            </ul>
        </div>
    </td>
</tr>