﻿@model FYPWeb.ViewModels.AdminDashboardMedicineDetailTableRowViewModel
<tr role="row" id="row_medicineDetail_@Model.Id">
    <td id="row_medicine_image_@Model.Id" style="cursor: pointer" onclick="showImage('@Model.ImageLink')">
        <img src="@Model.ImageLink" class="" width="64" height="64" alt="" />
    </td>
    <td class=""><a href="#" id="row_drug_name_@Model.Id">@Model.Name</a> </td>
    <td>@Model.Overview</td>
    <td>
        <button class="btn btn-primary" onclick="showCureDiseaseDialog(@Model.Id)">Show Cure Diseases</button>
    </td>
    <td>
        <button class="btn btn-danger" onclick="showContradictedDiseaseDialog(@Model.Id)">Show Contradicted Diseases</button>
    </td>
    <td>
        <div class="input-group-btn">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Manage
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu">
                <li onclick="showImageDialogMedicineDetail(@Model.Id)"><a href="#">Change Picture</a></li>
                <li onclick="showeditDialogMedicineDetail(@Model.Id)"><a href="#">Edit</a></li>
                <li onclick="showdeleteDialogMedicineDetail(@Model.Id)"><a href="#">Delete</a></li>
            </ul>
        </div>
    </td>
</tr>