﻿@model FYPWeb.ViewModels.AdminDashboardCategoryTableRowViewModel
<tr role="row" id="row_category_@Model.Id">
    <td class=""><a href="/Forum/AllThreadPostByCategory?catId=@Model.Id" target="_blank">@Model.Name</a> </td>
    <td> @Model.PostCount </td>
    <td>
        <div class="input-group-btn">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Manage
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu">
                <li onclick="showeditDialogCategory(@Model.Id)"><a href="#">Edit</a></li>
                <li onclick="showdeleteDialogCategory(@Model.Id)"><a href="#">Delete</a></li>
            </ul>
        </div>
    </td>
</tr>