﻿@model FYPWeb.ViewModels.AdminBrandAddFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <p id="companyFormMessage" class="alert alert-error hidden"></p>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" id="Name" name="Name" placeholder="Brand Name" required value="@Model.Name">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <input type="hidden" name="BrandId" id="BrandId" value="@Model.Id" />
            <div class="form-group">
                <select class="form-control" name="Company" id="Company" required style="width: 100%">
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        @if (Model.Id <= 0)
        {
            <button type="button" class="btn btn-info" onclick="saveBrand()">Add Brand</button>
        }
        else
        {
            <button type="button" class="btn btn-info" onclick="editBrand()">Save changes</button>
        }
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>

<script>
    $("#Company").select2({
        placeholder: "Select a Company",
        ajax: {
            url: "/api/Company/SearchCompany",
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    Parameter: params.term
                };
            },
            processResults: function (data) {
                return {
                    results: $.map(data.result, function (val, i) {
                        return {
                            id: val.Id,
                            text: val.Name
                        }
                    })
                };
            }
        }
    });
</script>

