﻿@model FYPWeb.ViewModels.HomeMedicineCartFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <input type="hidden" name="MedicineId" id="MedicineId" value="@Model.InventoryId" />
            <input type="hidden" name="UserId" id="UserId" value="@Model.UserId" />
            <input type="hidden" name="SessionId" id="SessionId" value="@Model.SessionId" />
            <div class="form-group">
                <label>Enter Quantity</label>
                <input class="form-control" id="Quantity" name="Quantity" min="1" max="1000" required value="@Model.Quantity" type="number"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        @if (Model.Id <= 0)
        {
            <button type="button" class="btn btn-info" onclick="saveBrand()">Add To Cart</button>
        }
        else
        {
            <button type="button" class="btn btn-info" onclick="editCart()">Update Cart</button>
        }
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>

<script>
    
</script>

