﻿@model FYPWeb.ViewModels.AdminCategoryAddFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <p id="companyFormMessage" class="alert alert-error hidden"></p>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" id="Name" name="Name" placeholder="Category Name" required value="@Model.Name">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <input type="hidden" name="CategoryId" id="CategoryId" value="@Model.Id" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        @if (Model.Id <= 0)
        {
            <button type="button" class="btn btn-info" onclick="saveCategory()">Add Category</button>
        }
        else
        {
            <button type="button" class="btn btn-info" onclick="editCategory()">Save changes</button>
        }
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
