﻿@model FYPWeb.ViewModels.AdminCompanyAddFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <p id="companyFormMessage" class="alert alert-error hidden"></p>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" id="Name" name="Name" placeholder="Company Name" required value="@Model.Name">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="url" class="form-control" id="Link" name="Link" placeholder="Website Url" required value="@Model.Link">
                <span class="glyphicon glyphicon-link form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="PhoneNumber" id="PhoneNumber" placeholder="Phone Number" required value="@Model.Phone">
                <span class="fa fa-hashtag form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="Fax" id="Fax" placeholder="Fax Number" value="@Model.Fax">
                <span class="fa fa-hashtag form-control-feedback"></span>
            </div>
            <input type="hidden" name="CompanyId" id="CompanyId" value="@Model.Id" />
            <div class="form-group has-feedback">
                <textarea class="form-control" placeholder="Enter Address" id="Address" name="Address" required>@Model.Address</textarea>
                <span class="fa fa-address-book form-control-feedback"></span>
            </div>
            <div class="form-group">
                <select class="form-control" name="City" id="City" required style="width: 100%">
                    @foreach (var d in Model.Cities)
                    {
                        <option value="@d.Id" @(d.Id == Model.CityId ? "selected" : "")>@d.CityName</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        @if (Model.Id <= 0)
        {
            <button type="button" class="btn btn-info" onclick="saveCompany()">Add Company</button>
        }
        else
        {
            <button type="button" class="btn btn-info" onclick="editCompany()">Save changes</button>
        }
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
<script>
    $("#City").select2({
        placeholder: "Select a City",
        width: "100%"
    });
    $("#Fax").inputmask("9999-9999999");
    $("#PhoneNumber").inputmask("9999-9999999");
</script>
