﻿@model FYPWeb.ViewModels.CompleteOrderFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <div class="row">
                <div class="col-xs-12">
                    <label>Details</label>
                    
                    @if(Model.Order.IsPrescription)
                    {
                        foreach (var m in Model.Order.OrderPrescriptions)
                        {
                            <img class="img-responsive" onclick="showImage('@m.Prescription.PrescriptionPath')" src="@m.Prescription.PrescriptionPath" style="max-height: 250px;max-width:250px"  />
                        }
                    }
                    @if (Model.Order.OrderDetails.Any())
                    {
                        <table class="table table-responsive table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    Medicine Name
                                </th>
                                <th>
                                    Qty
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Total
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var c in Model.Order.OrderDetails)
                            {
                                <tr>
                                    <td>
                                        @c.Drug.DrugName
                                    </td>
                                    <td>
                                        X @c.Quantity
                                    </td>
                                    <td>
                                        Rs @c.Price
                                    </td>
                                    <td>
                                        Rs @(c.Price * c.Quantity)
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    Promotion
                                </td>
                                <td>
                                        
                                </td>
                                <td>
                                    @if (Model.Order.Promotion != null)
                                    {
                                        <span>@Model.Order.Promotion.Name</span>
                                    }
                                </td>
                                <td>
                                    @if (Model.Order.Promotion != null)
                                    {
                                        <span>@Model.Order.Promotion.PercentageOff %</span>
                                    }
    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Delivery Charges
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                    Rs @Model.Order.DeliveryCharges
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>
                                    Total
                                </th>
                                <th>
                                    Rs
                                    @if (Model.Order.Promotion == null)
                                    {
                                        @(Model.Order.OrderDetails.Sum(p => p.Quantity * p.Price) + Model.Order.DeliveryCharges)
                                    }
                                    else
                                    {
                                        @((Model.Order.OrderDetails.Sum(p => p.Quantity * p.Price) * (1 - Model.Order.Promotion.PercentageOff/100)) + Model.Order.DeliveryCharges)
                                    }
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table>
                        <tbody>
                            @{
                                var off = Model.Order.Promotion != null ? Model.Order.Promotion.PercentageOff : 0;
                                var percent = 100 - off;
                                var total = Model.Order.OrderDetails.Sum(p => p.Quantity * p.Price);
                                var payment = total *= (percent / 100);
                                total += Model.Order.DeliveryCharges;
                            }
                            <tr>
                                <th>Total</th>
                                <th>
                                    Rs @Model.Order.OrderDetails.Sum(p => p.Quantity * p.Price);
                                </th>
                            </tr>
                            <tr>
                                <th>Promotion</th>
                                <th>@off %</th>
                            </tr>
                            <tr>
                                <th>Payment</th>
                                <th>Rs @payment</th>
                            </tr>
                            <tr>
                                <th>Delivery Charges</th>
                                <th>Rs @Model.Order.DeliveryCharges</th>
                            </tr>
                            <tr>
                                <th>Final Amount</th>
                                <th>Rs @total</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <input type="hidden" id="OrderId" name="OrderId" value="@Model.OrderId" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right-side">
        <button type="button" class="btn btn-success" onclick="completeOrder()">Complete Order</button>
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
