﻿@model FYPWeb.ViewModels.AdminDiseaseAddFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <p id="companyFormMessage" class="alert alert-error hidden"></p>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" id="Name" name="Name" placeholder="Disease Name" required value="@Model.Name">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <input type="hidden" name="DiseaseId" id="DiseaseId" value="@Model.Id" />
            <div class="form-group">
              <textarea placeholder="Disease Description" class="form-control" name="Description" id="Description" style="resize: none">@Model.Description</textarea>  
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        @if (Model.Id <= 0)
        {
            <button type="button" class="btn btn-info" onclick="saveDisease()">Add Disease</button>
        }
        else
        {
            <button type="button" class="btn btn-info" onclick="editDisease()">Save changes</button>
        }
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>