﻿@model FYPWeb.ViewModels.AdminDiseaseShowFormViewModel
<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>

            </tr>
            </thead>
            <tbody>
            @foreach (var modelDisease in Model.Diseases)
            {
                <tr>
                    <td>
                        <a href="" target="_blank">@modelDisease.DiseaseName</a>
                    </td>
                    <td>@modelDisease.Description</td>
                </tr>
            }
            </tbody>
        </table>        
    </div>
</div>
