﻿@model FYPWeb.ViewModels.PharmacistEmployeeAssignFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <input type="hidden" name="EmployeeId" id="EmployeeId" value="@Model.EmployeeId" />
            <input type="hidden" name="UserId" id="UserId" value="@Model.UserId" />
            <div class="form-group">
                <label>Select Pharamcy to Assign To</label>
                <select class="form-control" id="PharmacyId" name="PharmayId">
                    @foreach (var d in Model.Pharmacies)
                    {
                        <option value="@d.Id" @(d.Id == Model.PharamcyId ? "selected" : "")>@d.ShopName</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        <button type="button" class="btn btn-info" onclick="assignPharmacy()">Assign Pharmacy</button>
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
<script>
    $("#PhoneNumber").inputmask("9999-9999999");
</script>
