﻿@model FYPWeb.ViewModels.PharmacistEmployeeAddFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <p id="companyFormMessage" class="alert alert-error hidden"></p>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" id="Name" name="Name" placeholder="Employee Name" required value="@Model.Name">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="PhoneNumber" id="PhoneNumber" placeholder="Phone Number" required value="@Model.ContactNumber">
                <span class="fa fa-hashtag form-control-feedback"></span>
            </div>
            <input type="hidden" name="EmployeeId" id="EmployeeId" value="@Model.Id" />
            <input type="hidden" name="UserId" id="UserId" value="@Model.UserId" />
            <div class="form-group has-feedback">
                <textarea class="form-control" placeholder="Enter Address" id="Address" name="Address" required>@Model.Address</textarea>
                <span class="fa fa-address-book form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input class="form-control" placeholder="Enter Salary" id="Salary" name="Salary" required value="@(Model.Salary > 0 ? Model.Salary + "" : "")" />
                <span class="fa fa-money form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input class="form-control" placeholder="Enter Duty Hours" id="DutyHours" name="DutyHours" required value="@(Model.DutyHours > 0 ? Model.DutyHours + "" : "")" />
                <span class="fa fa-money form-control-feedback"></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        @if (Model.Id <= 0)
        {
            <button type="button" class="btn btn-info" onclick="saveEmployee()">Add Employee</button>
        }
        else
        {
            <button type="button" class="btn btn-info" onclick="editEmployee()">Save changes</button>
        }
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
<script>
    $("#PhoneNumber").inputmask("9999-9999999");
</script>
