﻿@model FYPWeb.ViewModels.FileUploadViewModel
<form action="@Model.ActionUrl" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm" style="background: none; border: none;">
    <div class="fallback">
        <input name="file" type="file" />
        <input type="submit" value="Upload" />
    </div>
    
    <input type="hidden" name="Id" value="@Model.Id"/>
</form>

<script src="~/Assets/Assets/js/template/fileUpload.js"></script>
<script>
    var limit = @Model.Limit;
    var id = @Model.Id;
    initFun(limit, id);
</script>

