﻿@model FYPWeb.ViewModels.ForumPostThreadRowViewModel
<div class="row well-sm">
    <div class="col-xs-6">
        <b><a href="Forum/PostThread/@Model.PostThread.Id">@Model.PostThread.Subject</a> </b>
        <p>
            <span class="text-sm">Tags:</span>&nbsp;
            @foreach (var tag in Model.PostThread.TagPostThreads.Select(p => p.Tag))
            {
                <a href="/Forum/AllThreadPostByTag?tag=@tag.Name" class="label label-success">@tag.Name</a>
            }
        </p>
    </div>
    <div class="col-xs-3">
        <p style="padding: 5px; margin: 5px">
            <span class="fa fa-comment"></span> <span class="" style="margin-left: 10px">@Model.PostThread.PostReplies.Count()</span>
        </p>
    </div>
    <div class="col-xs-3">
        <p style="padding: 5px; margin: 5px">
            <span class=""></span> <span class="text-bold" style=""><a target="_blank" href="/Profle/@Model.PostThread.User.Username">@Model.PostThread.User.ToString()</a></span>
        </p>
    </div>
</div>