﻿@model FYPWeb.ViewModels.ForumCategoryRowViewModel
<div class="row well-sm">
    <div class="col-xs-6">
        <b><a href="/Forum/AllThreadPostByCategory?catId=@Model.PostCategory.Id">@Model.PostCategory.CategoryName</a> </b>
        <p>
            @Model.PostCategory.Description
        </p>
    </div>
    <div class="col-xs-6">
        <p style="padding: 5px; margin: 5px">
            <span class="fa fa-feed"></span> <span class="" style="margin-left: 10px">@Model.PostCategory.PostThreads.Count</span>
        </p>
    </div>
</div>