﻿@model FYPWeb.ViewModels.GeneratedReportTableViewModel
<div class="row">
    <div class="col-xs-12">
        <label>Start Date:</label>&nbsp;&nbsp; @Model.Start
        <br />
        <label>End Date:</label>&nbsp;&nbsp; @Model.End
        <br/>
        <label>Employees:</label>&nbsp;&nbsp;
        @if (Model.IsAll)
        {
            <span class="text-bold">All</span>
        }
        else
        {
            <span class="text-bold">@string.Join(",",Model.EmployeeNames)</span>
        }

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <label>Total Orders : @Model.Orders.Count()</label>
        <label>Total Products Sold : @Model.Orders.Sum(p => p.OrderDetails.Sum(pr => pr.Quantity))</label>
        <table class="table table-responsive table-bordered">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Employee</th>
                    <th>Date</th>
                    <th>Total Cost (Rs)</th>
                    <th>Option</th>
                </tr>
            </thead>
            <tbody>
            @{
                var total = 0f;
            }
            @foreach (var m in Model.Orders)
            {
                <tr>
                    <td>@m.User.ToString()</td>
                    <td>@m.Employee.Name</td>
                    <td>@m.OrderedAt</td>
                    <td>Rs @(m.OrderDetails.Sum(p => p.Price * p.Quantity) + 100)</td>
                    @{
                        total += m.OrderDetails.Sum(p => p.Price * p.Quantity) + 100;
                    }
                    <td>
                        <button class="btn btn-info btn-sm" onclick="showorderDetailDialog(@m.Id)">View Details</button>
                    </td>
                </tr>
            }
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Total PayOut</td>
                    <td>Rs @total</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>