﻿@model FYPWeb.ViewModels.HomeMedicineReviewItemViewModel
<div class="item" id="review_@Model.Id">
    <img src="@Model.ImageLink" alt="user image">
    <p class="message">
        <a href="/Profile/@Model.UserName" class="name">
            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> @Model.PostedAt.ToString(Culture)</small>
            <small class="text-muted pull-left">@Model.Rating / 5 <i class="fa fa-star"></i></small>
            @Model.UserName
        </a>
        @Model.Review
    </p>
</div>