﻿@model FYPWeb.ViewModels.PharmacistAddInventoryViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <p id="companyFormMessage" class="alert alert-error hidden"></p>
            <div class="form-group">
                <label>Select Pharmacy</label>
                <select class="form-control" name="PharmacyId" id="PharmacyId" required>
                    @foreach (var d in Model.Pharmacies)
                    {
                        <option value="@d.Id">@d.ShopName -- @d.ShopAddress</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" name="MedicineId" id="MedicineId" required style="width: 100%"></select>
            </div>
            <div class="form-group">
                <label>Add Item By</label>
                <label><input type="radio" name="AddType" value="0" checked> By Pack</label>
                <label><input type="radio" name="AddType" value="1">Individual Item</label>
            </div>
            <div class="form-group">
                <label>Enter Amount</label>
                <input class="form-control" name="Quantity" id="Quantity" required type="number" placeholder="1 - 1000" min="1" max="1000"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        @if (Model.Id <= 0)
        {
            <button type="button" class="btn btn-info" onclick="saveInventory()">Add To Stock</button>
        }
        else
        {
            <button type="button" class="btn btn-info" onclick="editMedicine()">Save changes</button>
        }
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>

<script>
    $("#MedicineId").select2({
        placeholder: "Select a Medicine",
        ajax: {
            url: "/api/Medicine/SearchMedicine",
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    Parameter: params.term
                };
            },
            processResults: function (data) {
                return {
                    results: $.map(data.result, function (val, i) {
                        return {
                            id: val.Id,
                            text: val.Name
                        }
                    })
                };
            }
        }
    });
</script>

