﻿@model FYPWeb.ViewModels.MapFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <div class="row">
                <div class="col-xs-12">
                    <label>Address</label>
                    <p>
                        @Model.Address
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="map" style="height: 250px"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    initMapPharmacy(@Model.X, @Model.Y);
</script>

