﻿@model FYPWeb.ViewModels.AdminMedicineAddFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <p id="companyFormMessage" class="alert alert-error hidden"></p>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" id="Name" name="Name" placeholder="Medicine Name" required value="@Model.Name">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" id="Form" name="Form" placeholder="Medicine Form" required value="@Model.Form">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" id="Packing" name="Packing" placeholder="Medicine Packing" required value="@Model.Packing">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="number" class="form-control" id="CostPrice" name="CostPrice" placeholder="Cost Price" required value="@Model.CostPrice">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="number" class="form-control" id="SalePrice" name="SalePrice" placeholder="Cost Price" required value="@Model.SalePrice">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>

            <input type="hidden" name="MedicineId" id="MedicineId" value="@Model.Id" />
            <div class="form-group">
                <select class="form-control" name="MedicineDetail" id="MedicineDetail" required style="width: 100%"></select>
            </div>
            <br/>
            <div class="form-group">
                <select class="form-control" name="Brand" id="Brand" required style="width: 100%"></select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        @if (Model.Id <= 0)
        {
            <button type="button" class="btn btn-info" onclick="saveMedicine()">Add Medicine</button>
        }
        else
        {
            <button type="button" class="btn btn-info" onclick="editMedicine()">Save changes</button>
        }
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>

<script>
    $("#MedicineDetail").select2({
        placeholder: "Select a Medicine Detail",
        ajax: {
            url: "/api/MedicineDetail/SearchMedicineDetail",
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    Parameter: params.term
                };
            },
            processResults: function (data) {
                return {
                    results: $.map(data.result, function (val, i) {
                        return {
                            id: val.Id,
                            text: val.Name
                        }
                    })
                };
            }
        }
    });
    $("#Brand").select2({
        placeholder: "Select a Brand",
        ajax: {
            url: "/api/Brand/SearchBrand",
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    Parameter: params.term
                };
            },
            processResults: function (data) {
                return {
                    results: $.map(data.result, function (val, i) {
                        return {
                            id: val.Id,
                            text: val.Name
                        }
                    })
                };
            }
        }
    });
</script>

