﻿@model FYPWeb.ViewModels.AdminDashboardReviewTableRowViewModel
<tr role="row" id="row_review_@Model.Id">
    <td><a href="/Profile/@Model.Username">@Model.FullName</a></td>
    <td><a href="/Medicine/@Model.MedicineId">@Model.MedicineName</a></td>
    <td>@Model.Rating</td>
    <td>@Model.Review</td>
    <td>@Model.PostedAt</td>
    <td>
        <div class="input-group-btn">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Manage
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu">
                <li onclick="showeditDialogReview(@Model.Id)"><a href="#">Edit</a></li>
                <li onclick="showdeleteDialogReview(@Model.Id)"><a href="#">Delete</a></li>
            </ul>
        </div>
    </td>
</tr>