﻿@using RazorEngine.Text
@model FYPWeb.ViewModels.AdminMedicineDetailAddFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <p id="companyFormMessage" class="alert alert-error hidden"></p>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" id="Name" name="Name" placeholder="Company Name" required value="@Model.Name">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <input type="hidden" value="@Model.Id" name="MedicineDetailId" id="MedicineDetailId" />
            <div class="form-group has-feedback">
                <textarea class="form-control" placeholder="Enter Overview" style="resize: none" id="Overview" name="Overview" required>@Model.Overview</textarea>
                <span class="fa fa-edit form-control-feedback"></span>
            </div>
            <div class="form-group">
                <label for="DiseaseInteraction">Select Diseases (Indication)</label>
                <select class="form-control" name="DiseaseInteraction" id="DiseaseInteraction" required style="width: 100%"></select>
            </div>
            <div class="form-group">
                <label for="DiseaseContradiction">Select Diseases (Contradiction)</label>
                <select class="form-control" name="DiseaseContradiction" id="DiseaseContradiction" required style="width: 100%"></select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        @if (Model.Id <= 0)
        {
            <button type="button" class="btn btn-info" onclick="saveMedicineDetail()">Add Medicine Detail</button>
        }
        else
        {
            <button type="button" class="btn btn-info" onclick="editMedicineDetail()">Save changes</button>
        }
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
<script>
    initFunctionMedicineDetailAddForm('[@(new RawString(Model.DrugDiseasesIndication))]', '[@( new RawString(Model.DrugDiseasesContradiction))]');
</script>
