﻿@model FYPWeb.ViewModels.NotificationItemViewModel
<li onclick="goToUrl('@Model.Url')">
    <a href="#" data-toggle="tooltip" title="@Model.Body">
        <span style="font-size: 8pt;font-style: italic">
            @Model.Date.ToShortDateString() -- @Model.Date.ToShortTimeString()
        </span>
        <br />

        <i class="fa fa-users text-aqua"></i> @Model.Body
    </a>
</li>