﻿@model FYPWeb.ViewModels.OrderPlaceFormPrescriptionViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <div class="form-group has-feedback">
                <label>Place Order</label>
            </div>
            <div class="form-group">
                <label>Prescription Images</label>
                <div class="col-xs-12">
                    <div class="row">
                        @foreach (var m in Model.Prescriptions)
                        {
                            <img title="Prescription-@m.Id" class="col-xs-3" onclick="showImage('@m.PrescriptionPath')" src="@m.PrescriptionPath" alt="Prescription-@m.Id"/>
                            <input type="hidden" value="@m.Id" name="Prescription"/>
                        }        
                    </div>    
                </div>
            </div>
            <div class="form-group has-feedback">
                <label>Add Promotion For @Model.Pharmacy.ShopName</label>
                <input type="text" class="form-control" id="PromotionCode-@Model.Pharmacy.Id" name="Promotion" placeholder="Promotion Code">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <br />
                <label id="promotionLabel-@Model.Pharmacy.Id"></label>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" onclick="redeemPromotion(@Model.Pharmacy.Id)">Redeem Promotion</button>
            </div>
            <input type="hidden" name="PharmacyId" id="PharmacyId-@Model.Pharmacy.Id" value="@Model.Pharmacy.Id" />
            <input type="hidden" name="PromotionId" id="PromotionId-@Model.Pharmacy.Id" value="0" />
            <input type="hidden" name="UserId" id="UserId" value="@Model.UserId" />

            <div class="form-group has-feedback">
                <textarea class="form-control" placeholder="Enter Address" id="Address" name="Address" required></textarea>
                <span class="fa fa-address-book form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <label>Select Location via Map (Required)</label>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-primary" id="SelectLocation">Select Location</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="SearchMap" name="SearchMap" placeholder="Search Location" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="map" style="height: 250px"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <input type="number" id="Xaxis" name="Xaxis" readonly class="form-control" placeholder="X-axis" value="0" />
                    </div>
                    <div class="col-xs-6">
                        <input type="number" id="Yaxis" name="Yaxis" readonly class="form-control" placeholder="Y-axis" value="0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        <button type="button" class="btn btn-info" onclick="placeOrderPrescription()">Place Order</button>
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
<script>
    initFunctionSetLocationForm();
</script>
<style>
    .pac-container {
        z-index: 100000 !important;
    }
</style>