﻿@model FYPWeb.ViewModels.PharmacistDashboardPharmacyTableRowViewModel
<tr role="row" id="row_pharmacy_@Model.Id">
    <td id="row_pharmacy_image_@Model.Id" style="cursor: pointer" onclick="showImage('@Model.ImageLink')">
        <img src="@Model.ImageLink" class="" width="64" height="64" alt="" />
    </td>
    <td class=""><a href="/Profile/@Model.Username" id="row_pharmacy_name_@Model.Id">@Model.Name</a> </td>
    <td class="">@Model.Address</td>
    <td class="">@Model.ContactPerson</td>
    <td class="">@Model.Number</td>
    <td class="">
        @if (Model.IsApproved)
        {
            <span class="label label-success">Approved</span>
        }
        else
        {
            <span class="label label-warning">Not Approved</span>
        }
    </td>
    <td>
        <div class="input-group-btn">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Manage
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu">
                <li onclick="showImageDialogPharmacy(@Model.Id,@Model.UserId)"><a href="#">Change Picture</a></li>
                @if (Model.IsAdmin)
                {
                    if (Model.IsApproved)
                    {
                        <li onclick="showapproveDialogPharmacy(@Model.Id)"><a href="#">Approve</a></li>
                    }
                    else
                    {
                        <li onclick="showdisapproveDialogPharmacy(@Model.Id)"><a href="#">Disapprove</a></li>
                    }
                }
                <li onclick="showeditDialogPharmacy(@Model.Id,@Model.UserId)"><a href="#">Edit</a></li>
                <li onclick="showdeleteDialogPharmacy(@Model.Id,@Model.UserId)"><a href="#">Delete</a></li>
            </ul>
        </div>
    </td>
</tr>