﻿@using System.Globalization
@model FYPWeb.ViewModels.PharmacistDashboardInventoryTrackTableRowViewModel
<tr role="row">
    <td class=""><a href="/Medicine/@Model.DrugId">@Model.Name</a> </td>
    <td>@Model.Quantity</td>
    <td>
        @if (Model.OrderId != null)
        {
            <button class="btn btn-info btn-sm" onclick="showorderDetailDialog(@Model.OrderId)">View</button>
        }
    </td>
    <td>@Model.PostedAt.ToString(CultureInfo.CurrentCulture)</td>
</tr>