﻿@model FYPWeb.ViewModels.PharmacistDashboardInventoryTableRowViewModel
<tr role="row">
    <td class=""><a href="/Medicine/@Model.DrugId">@Model.Name</a> </td>
    <td> @Model.Form </td>
    <td> Rs @Model.Price.ToString("F") </td>
    <td> @Model.TotalCount </td>
    <td>
         <button class="btn btn-primary" onclick="showSetPriceDialog(@Model.Id)">Set Price</button>
        <button class="btn btn-warning" onclick="showremoveDialogInventory(@Model.Id)">Remove From Stock</button>

    </td>
</tr>