﻿@model FYPWeb.ViewModels.PharmacistDashboardPromotionTableRow
<tr role="row" id="row_promotion_@Model.Id">
    <td class=""><a href="/Profile/@Model.Username" id="row_pharmacy_name_@Model.Id">@Model.Name</a> </td>
    <td>@Model.Description</td>
    <td>
        @(Model.IsActive ? Model.StartDate.ToString() : "--")
    </td>
    <td>
        @(Model.IsActive ? Model.EndDate.ToString() : "--")
    </td>
    <td>@Model.PercentOff %</td>
    <td>@Model.Code</td>
    <td>
        @if (Model.IsActive)
        {
            <span class="label label-success">Active</span>
        }
        else
        {
            <span class="label label-danger">InActive</span>
        }
    </td>
    <td>
        <div class="input-group-btn">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Manage
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu">
                <li onclick="showeditDialogPromotion(@Model.Id,@Model.UserId)"><a href="#">Edit</a></li>
                @if (Model.IsActive)
                {
                    <li onclick="showstopDialogPromotion(@Model.Id)"><a href="#">Stop Promotion</a></li>
                }
                else
                {
                    <li onclick="showstartDialogPromotion(@Model.Id)"><a href="#">Start Promotion</a></li>
                }
                <li onclick="showdeleteDialogPromotion(@Model.Id)"><a href="#">Delete</a></li>
            </ul>
        </div>
    </td>
</tr>