﻿@model FYPWeb.ViewModels.PharmacistDashboardEmployeeTableRowViewModel
<tr role="row" id="row_employee_@Model.Id">
    <td id="row_employee_image_@Model.Id" style="cursor: pointer" onclick="showImage('@Model.ImageLink')">
        <img src="@Model.ImageLink" class="" width="64" height="64" alt="" />
    </td>
    <td class=""><a href="#" id="row_employee_name_@Model.Id">@Model.Name</a> </td>
    <td id="row_employee_pharmacy_@Model.Id"> @Model.Pharmacy </td>
    <td>@Model.Address</td>
    <td>@Model.Number</td>
    <td>
        <div class="input-group-btn">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Manage
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu">
                <li onclick="showImageDialogEmployee(@Model.Id)"><a href="#">Change Picture</a></li>
                <li onclick="showassignDialogEmployee(@Model.Id,@Model.UserId)"><a href="#">Assign Pharmacy</a></li>
                <li onclick="showeditDialogEmployee(@Model.Id,@Model.UserId)"><a href="#">Edit</a></li>
                <li onclick="showdeleteDialogEmployee(@Model.Id)"><a href="#">Delete</a></li>
            </ul>
        </div>
    </td>
</tr>