﻿@model FYPWeb.ViewModels.PharmacistPharmacyAddFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <p id="companyFormMessage" class="alert alert-error hidden"></p>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" id="Name" name="Name" placeholder="Pharmacy Name" required value="@Model.Name">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="ContactPerson" id="ContactPerson" placeholder="ContactPerson" required value="@Model.ContactPerson">
                <span class="fa fa-hashtag form-control-feedback"></span>
            </div><div class="form-group has-feedback">
                <input type="text" class="form-control" name="PhoneNumber" id="PhoneNumber" placeholder="Phone Number" required value="@Model.PhoneNumber">
                <span class="fa fa-hashtag form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="Charges" id="Charges" placeholder="Enter Delivery Charges" required value="@Model.Charges">
                <span class="fa fa-hashtag form-control-feedback"></span>
            </div>

            <input type="hidden" name="PharmacyId" id="PharmacyId" value="@Model.Id" />
            <input type="hidden" name="UserId" id="UserId" value="@Model.UserId" />
            <div class="form-group has-feedback">
                <textarea class="form-control" placeholder="Enter Address" id="Address" name="Address" required>@Model.Address</textarea>
                <span class="fa fa-address-book form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <label>Select Location via Map (Required)</label>

                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn btn-default" id="SelectLocation">Select Location</button>
                    </div>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="SearchMap" name="SearchMap" placeholder="Search Location" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="map" style="height: 250px"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <input type="number" id="Xaxis" name="Xaxis" readonly class="form-control" placeholder="X-axis" value="@Model.X" />
                    </div>
                    <div class="col-xs-6">
                        <input type="number" id="Yaxis" name="Yaxis" readonly class="form-control" placeholder="Y-axis" value="@Model.Y" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        @if (Model.Id <= 0)
        {
            <button type="button" class="btn btn-info" onclick="savePharmacy()">Add Pharmacy</button>
        }
        else
        {
            <button type="button" class="btn btn-info" onclick="editPharmacy()">Save changes</button>
        }
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
<script>
    $("#PhoneNumber").inputmask("9999-9999999");
    var x = '@Model.X';
    var y = '@Model.Y';
    initFunctionPharamcyAddForm();
</script>
<style>
    .pac-container {
        z-index: 100000 !important;
    }
</style>