﻿@model FYPWeb.ViewModels.ForumReplyViewModel
<div class="panel panel-success">
    <div class="panel-heading">
        <span class="text-bold">
            <i class="fa fa-clock-o"></i> @Model.PostedAt
        </span>
        @if (Model.IsMine)
        {
            <span class="pull-right"><a href="/Forum/EditReply/@Model.Id" class="btn btn-info">Edit Reply</a></span>
        }
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="@Model.ImagePath" class="img-circle img-responsive" alt="@Model.Name">
                    </div>
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="">@Model.Name</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-12">
                        Join Date: @Model.JoinedDate
                        <br>
                        Age: @Model.Age
                        <br>
                        Gender: @Model.Gender
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                @Raw(Model.Reply)
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                @Model.Signature
            </div>
        </div>
    </div>
</div>
