﻿@model FYPWeb.ViewModels.DashboardPostReplyTableRowViewModel
<tr role="row" id="row_post_@Model.Id">
    <td class=""><a href="/Profile/@Model.UserName"> @Model.OrignalPoster </a> </td>
    <td class=""><a href="/Forum/PostThread/@Model.ThreadId">@(Model.Subject.Length > 15 ? Model.Subject.Substring(0, 13) + "..." : Model.Subject) </a> </td>
    <td>@Model.RepliedAt</td>
    <td>
        <div class="input-group-btn">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Manage
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu">
                <li onclick="showeditDialogReply(@Model.Id)"><a href="#">Edit</a></li>
                <li onclick="showdeleteDialogReply(@Model.Id)"><a href="#">Delete</a></li>
            </ul>
        </div>
    </td>
</tr>