﻿@model FYPWeb.ViewModels.DashboardPostTableRowViewModel
<tr role="row" id="row_post_@Model.Id">
    <td class=""><a href="/Profile/@Model.UserName"> @Model.OrignalPoster </a> </td>
    <td class=""><a href="/Forum/PostThread/@Model.Id">@(Model.Subject.Length > 15 ? Model.Subject.Substring(0,13) + "..." : Model.Subject) </a> </td>
    <td> @Model.Category </td>
    <td>
        @foreach (var t in Model.Tags)
        {
            <a href="" class="label label-success">@t.Name</a>
        }
    </td>
    <td>
        @Model.PostedAt.ToString("G")
    </td>
    <td>
        @Model.ReplyCount
    </td>
    <td>
        <div class="input-group-btn">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Manage
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu">
                <li onclick="showeditDialogPost(@Model.Id)"><a href="#">Edit</a></li>
                <li onclick="showdeleteDialogPost(@Model.Id)"><a href="#">Delete</a></li>
            </ul>
        </div>
    </td>
</tr>