﻿@model FYPWeb.ViewModels.PrescriptionImageProcessForm
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <div class="form-group">
                <img width="64" height="64" onclick="showImage('@Model.Prescription.PrescriptionPath')" src="@Model.Prescription.PrescriptionPath" alt="Prescription Image"/>
            </div>
            <div class="form-group">
                <label>Found Words</label>
                <div class="row" id="notSelectedWords">
                    @foreach (var modelText in Model.Texts)
                    {
                        <span onclick="addToList('@modelText',this)" class="label label-primary col-xs-2">@modelText</span>
                    }
                </div>
            </div>
            <div class="form-group">
                <label>Selected Words</label>
                <div class="row" id="selectedWords">
                    
                </div>
                <button type="button" class="btn btn-info" onclick="processWords()">Process</button>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        <button type="button" class="btn btn-info" onclick="savePrescriptionDrugs()">Save Drugs</button>
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
