﻿@model FYPWeb.ViewModels.PrescriptionSetMedicineFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        @foreach (var m in Model.OrderPrescriptions)
                        {
                            <img title="Prescription-@m.Id" class="col-xs-3" onclick="showImage('@m.Prescription.PrescriptionPath')" src="@m.Prescription.PrescriptionPath" alt="Prescription-@m.Id" />
                        }
                    </div>
                </div>
            </div>
            <div class="form-group has-feedback">
                <div class="row">
                    <div class="col-xs-6">
                        <label>Select Medicine</label>
                        <br />
                        <select style="width: 100%" id="MedicineId" name="MedicineId" class="form-control">
                        </select>  
                    </div>
                    <div class="col-xs-4">
                        <label>Enter Amount</label>
                        <input class="form-control" name="Amount" id="Amount" placeholder="Enter Amount" type="number" min="1" max="100"/>
                    </div>
                    <div class="col-xs-2">
                        
                        <button style="padding-top: 10px" class="btn btn-sm btn-success" onclick="addToOrder()">Add</button>
                    </div>
                </div>
            </div>
            <div class="form-group has-feedback">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Medicine Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody id="detailBody">
                        
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Total</th>
                        <th id="totalQuantity"></th>
                        <th></th>
                        <th>Rs <span id="totalPrice">0.00</span></th>
                    </tr>
                    </tfoot>
                </table>
            </div>

            <input type="hidden" id="OrderId" name="OrderId" value="@Model.OrderId" />
            <input type="hidden" id="PharmacyId" name="PharmacyId" value="@Model.PharmacyId" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        <button type="button" class="btn btn-info" onclick="setPrescription(@Model.OrderId)">Confirm Details</button>
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
<script>
    var pharmacyId = $("#PharmacyId").val();
    $("#MedicineId").select2({
        placeholder: "Select a Medicine",
        ajax: {
            url: "/api/Inventory/SearchMedicine",
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    Parameter: params.term,
                    PharmacyId: @Model.PharmacyId
                }
            },
            processResults: function (data) {
                return {
                    results: $.map(data.result, function (val, i) {
                        return {
                            id: val.Id,
                            text: val.Name
                        }
                    })
                };
            }
        }
    });

    ajaxPost("/api/Template/GetOrderPrescriptionRow",
        {
            Id: @Model.OrderId,
        },
        function(result) {
            if (result.message === "Success") {
                $("#detailBody").html(result.result);
                $("#totalPrice").html(result.TotalPrice);
                $("#totalQuantity").html(result.TotalQuantity);
            }
        },
        function(result) {
            showNotification("Error Occured", NotificationEnum.Warning);
        });
</script>
