﻿@model FYPWeb.ViewModels.PrescriptionOrderSetMedicineTableRowViewModel
@foreach(var m in Model.OrderDetails) { 
    <tr role="row" id="row_order_detail_prescription_@m.Id">
        <td><a href="/Medicine/@m.DrugId" target="_blank">@m.Drug.Brand.BrandName  @m.Drug.DrugName</a> </td>
        <td>
            <span id="current_@m.Id">@m.Quantity</span>
            <input  style="display: none" id="amount_new_@m.Id" type="number" value="@m.Quantity" min="1" max="100"/>
        </td>
        <td> Rs @m.Price.ToString("F") </td>
        <td> Rs @((m.Price * m.Quantity).ToString("F")) </td>
        <td>
            <button class="btn btn-sm btn-info" id="edit_@m.Id" onclick="editAmountOrderDetail(@m.Id,@m.Quantity)">Edit</button>
            <button class="btn btn-sm btn-info" style="display: none" id="save_@m.Id" onclick="saveAmountOrderDetail(@m.Id)">Save</button>
            <button class="btn btn-sm btn-danger" id="remove_@m.Id" onclick="removeFromOrder(@m.Id,@m.OrderId)">Remove</button>
            <button class="btn btn-sm btn-danger"  style="display: none" id="cancel_@m.Id" onclick="cancelEditOrder(@m.Id)">Remove</button>
        </td>
    </tr>
}