﻿@model FYPWeb.ViewModels.ProcessLocationFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <div class="form-group has-feedback">
                <label>Select Pharmacy</label>
                <select class="form-control" name="PharmacyId" id="PharmacyId" required>
                    @foreach (var d in Model.Pharmacies)
                    {
                        <option value="@d.Id">@d.ShopName -- @d.ShopAddress</option>
                    }
                </select>
            </div>
            <div class="form-group has-feedback">
                <label>Enter Pharmacy Count</label>
                <input class="form-control" type="number" min="1" max="100" value="1" id="PharmacyCount" name="PharmacyCount"/>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        <button type="button" class="btn btn-info" onclick="applyAlgo()">Suggest Me</button>
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
