﻿@model FYPWeb.ViewModels.PharmacistPromotionStartFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <input type="hidden" value="@Model.Id" name="PromotionId" id="PromotionId"/>
            <div class="form-group">
                <label>Select Start and End Date</label>
                <input name="StartDate" id="StartDate"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        <button type="button" class="btn btn-info" onclick="startPromotion()">Start Promotion</button>
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>

<script>
    initPromotionStart();
</script>
