﻿@model FYPWeb.ViewModels.PharmacistPromotionFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <div class="form-group">
                <label>Select Pharmacy</label>
                <select class="form-control" id="PharmacyId" name="PharmacyId">
                    @foreach(var m in Model.Pharmacies) { 
                        <option value="@m.Id">@m.ShopName</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Enter Promotion Name</label>
                <input value="@Model.Name" class="form-control" id="Name" name="Name" placeholder="Name" required />
                <input value="@Model.Id" type="hidden" id="PromotionId" name="PromotionId"/>
            </div>
            <div class="form-group">
                <label>Enter Code</label>
                <input class="form-control" id="Code" name="Code" placeholder="Enter Code" required/>
            </div>
            <div class="form-group">
                <label>Enter Description</label>
                <textarea class="form-control" id="Description" name="Description" placeholder="Description" required>@Model.Description</textarea>
            </div>
            <div class="form-group">
                <label>Enter Discount (%)</label>
                <input class="form-control" id="PercentOff" name="PercentOff" min="1" max="100" required value="@(Model.PercentOff > 0 ? Model.PercentOff : 1)" type="number" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        @if (Model.Id <= 0)
        {
            <button type="button" class="btn btn-info" onclick="savePromotion()">Add Promotion</button>
        }
        else
        {
            <button type="button" class="btn btn-info" onclick="editPromotion()">Update Promotion</button>
        }
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>

