﻿@model FYPWeb.ViewModels.RecommendationFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <p id="companyFormMessage" class="alert alert-error hidden"></p>
            <div class="form-group has-feedback">
                <label>Medicine Name</label>
                <input type="text" class="form-control" value="@Model.MedicineName" readonly>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <input type="hidden" name="UserId" id="UserId" value="@Model.UserId" />
            <input type="hidden" name="MedicineId" id="MedicineId" value="@Model.MedicineId" />
            <div class="form-group">
                <label>Select a User</label>
                <select class="form-control" name="UserRecieverId" id="UserRecieverId" required style="width: 100%"></select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        <button type="button" class="btn btn-info" onclick="sendRecommendation()">Send Recommendation</button>
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>

<script>
    $("#UserRecieverId").select2({
        placeholder: "Select a User",
        ajax: {
            url: "/api/User/SearchUserDropDown",
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    Parameter: params.term
                };
            },
            processResults: function (data) {
                return {
                    results: $.map(data.result, function (val, i) {
                        return {
                            id: val.Id,
                            text: val.Name
                        }
                    })
                };
            }
        }
    });
</script>

