﻿@model FYPWeb.ViewModels.RejectOrderFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <div class="form-group has-feedback">
                <label>Enter Comment</label>
                <textarea class="form-control" rows="3" id="Comment" name="Comment" required></textarea>
            </div>
            <input type="hidden" id="OrderId" name="OrderId" value="@Model.OrderId"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        <button type="button" class="btn btn-info" onclick="rejectOrder()">Reject Order</button>
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
