﻿@model FYPWeb.ViewModels.RemoveFromInventoryFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <div class="form-group has-feedback">
                <label>Medicine Name</label>
                <input type="text" class="form-control" required value="@Model.MedicineName">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <label>Pharmacy</label>
                <input value="@Model.PharmacyName" readonly/>
                <span class="fa fa-building-o form-control-feedback"></span>
            </div>
            <input type="hidden" name="Id" id="Id" value="@Model.Id" />
            <div class="form-group">
                <label>Add Item By</label>
                <label><input type="radio" name="AddType" value="0" checked> By Pack</label>
                <label><input type="radio" name="AddType" value="1">Individual Item</label>
            </div>
            <div class="form-group has-feedback">
                <label>Select Amount</label>
                <input type="number" min="1" max="@Model.Max" class="form-control" id="Quantity" name="Quantity" value="1" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        <button type="button" class="btn btn-info" onclick="removeFromPharmacyInventory()">Remove</button>
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
