﻿@model FYPWeb.ViewModels.ReportFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <div class="form-group has-feedback">
                <label>Select Employee (optional)</label>
                <select id="EmployeeId" name="EmployeeId" class="form-control" multiple>
                    <option value="0">All Employees</option>
                    @foreach (var modelEmployee in Model.Employees)
                    {
                        <option value="@modelEmployee.Id">@modelEmployee.Name</option>
                    }
                </select>
            </div>
            <div class="form-group has-feedback">
                <label>Select Dates</label>
                <input name="StartDate" id="StartDate" />
            </div>

            <input type="hidden" id="PharmacyId" name="PharmacyId" value="@Model.PharmacyId" />
            <input type="hidden" id="UserId" name="UserId" value="@Model.UserId" />

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        <button type="button" class="btn btn-info" onclick="generateReport()">Generate Report</button>
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>

<script>
    initReport();
</script>