﻿@model FYPWeb.ViewModels.ReviewOrderFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <div class="row">
                <div class="col-xs-12">
                    <label>Review By @Model.Order.User</label>
                    <br />
                    <div class="form-group has-feedback">
                        <label>Rating</label>
                        <div id="customerRatingReview"></div>
                    </div>
                    @{
                        var pharmacyReview = "";
                        var pharmacyRating = 0f;
                        if (Model.Order.PharmacyReviews.Any())
                        {
                            pharmacyReview = Model.Order.PharmacyReviews.First().Review;
                            pharmacyRating = Model.Order.PharmacyReviews.First().Rating;
                        }
                    }
                    <div class="form-group has-feedback">
                        <label>Review</label>
                        <textarea class="form-control" placeholder="Enter Review" required>@pharmacyReview</textarea>
                        <span class="fa fa-address-book form-control-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label>Review By @Model.Order.Pharmacy.ShopName</label>
                    <br />
                    <div class="form-group has-feedback">
                        <label>Rating</label>
                        <div id="pharmacyRatingReview"></div>
                    </div>
                    @{
                        var customerReview = "";
                        var customerRating = 0f;
                        if (Model.Order.CustomerReviews.Any())
                        {
                            customerReview = Model.Order.CustomerReviews.First().Review;
                            customerRating = Model.Order.CustomerReviews.First().Rating;
                        }
                    }
                    <div class="form-group has-feedback">
                        <label>Review</label>
                        <textarea class="form-control" placeholder="Enter Review" required>@customerReview</textarea>
                        <span class="fa fa-address-book form-control-feedback"></span>
                    </div>
                </div>
            </div>
  </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
<script>
    $("#customerRatingReview").starRating({
        totalStars: 5,
        initialRating: @pharmacyRating,
        starShape: "rounded",
        starSize: 30,
        readOnly:true,
        emptyColor: "lightgray",
        hoverColor: "salmon",
        activeColor: "green",
        useGradient: false
    });
    $("#pharmacyRatingReview").starRating({
        totalStars: 5,
        initialRating: @customerRating,
        starShape: "rounded",
        starSize: 30,
        readOnly:true,
        emptyColor: "lightgray",
        hoverColor: "salmon",
        activeColor: "green",
        useGradient: false
    });
</script>
