﻿@model FYPWeb.ViewModels.HomeMedicineReviewFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <p id="companyFormMessage" class="alert alert-error hidden"></p>
            <div class="form-group has-feedback">
                <div id="ratingReview"></div>
            </div>
            <input type="hidden" name="ReviewId" id="ReviewId" value="@Model.Id" />
            <input type="hidden" name="MedicineId" id="MedicineId" value="@Model.MedicineId" />
            <input type="hidden" name="UserId" id="UserId" value="@Model.UserId" />
            <div class="form-group has-feedback">
                <textarea class="form-control" placeholder="Enter Review" id="Review" name="Review" required>@Model.Review</textarea>
                <span class="fa fa-address-book form-control-feedback"></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        @if (Model.Id <= 0)
        {
            <button type="button" class="btn btn-info" onclick="saveReview()">Add Review</button>
        }
        else
        {
            <button type="button" class="btn btn-info" onclick="editReview()">Save changes</button>
        }
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
<script>
    $("#ratingReview").starRating({
        totalStars: 5,
        initialRating: 0,
        starShape: "rounded",
        starSize: 30,
        emptyColor: "lightgray",
        hoverColor: "salmon",
        activeColor: "green",
        useGradient: false
    });
</script>
