﻿@model FYPWeb.ViewModels.SelectLocationFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <div class="form-group has-feedback">
                <textarea class="form-control" placeholder="Enter Address" id="Address" name="Address" required>@Model.Address</textarea>
                <span class="fa fa-address-book form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <label>Select Location via Map (Required)</label>
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn btn-default" id="SelectLocation">Select Location</button>
                    </div>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="SearchMap" name="SearchMap" placeholder="Search Location" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="map" style="height: 250px"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <input type="number" id="Xaxis" name="Xaxis" readonly class="form-control" placeholder="X-axis" value="@Model.X" />
                    </div>
                    <div class="col-xs-6">
                        <input type="number" id="Yaxis" name="Yaxis" readonly class="form-control" placeholder="Y-axis" value="@Model.Y" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        <button type="button" class="btn btn-info" onclick="setLocation()">Set Delivery Point</button>
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
<script>
    initFunctionSetLocationForm();
</script>
<style>
    .pac-container {
        z-index: 100000 !important;
    }
</style>