﻿@model FYPWeb.ViewModels.SetPriceViewModel
    <div class="row">
        <div class="col-xs-12">
            <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
                <p id="companyFormMessage" class="alert alert-error hidden"></p>

                <div class="form-group">
                    <label>Medicine Name</label>
                    <input class="form-control" value="@Model.Name" readonly/>
                </div>
                <div class="form-group">
                    <label>Pharmacy Name</label>
                    <input class="form-control" value="@Model.ShopName" readonly />
                </div>
                <input type="hidden" value="@Model.Id" name="InventoryId" id="InventoryId" />
                <div class="form-group">
                    <label>Enter Price</label>
                    <input class="form-control" name="Price" id="Price" required type="number" placeholder="Enter Price" min="1" max="4000" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 right">
            @if (Model.Id <= 0)
            {
                <button type="button" class="btn btn-info" onclick="saveInventory()">Add To Stock</button>
            }
            else
            {
                <button type="button" class="btn btn-info" onclick="savePrice()">Save changes</button>
            }
            <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
