﻿@model FYPWeb.ViewModels.UserFormViewModel
<div class="row">
    <div class="col-xs-12">
        <div id="step-1" data-toggle="validator" style="padding: 10px" class="padding-10-all">
            <p id="userFormMessage" class="alert alert-error hidden"></p>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name" required value="@Model.FirstName">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name" required value="@Model.LastName">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="PhoneNumber" id="PhoneNumber" placeholder="Phone Number" required value="@Model.PhoneNumber">
                <span class="fa fa-hashtag form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="DOB" id="DOB" placeholder="Enter Date Of Birth" required value="@(Model.DOB == DateTime.MinValue ? "" : Model.DOB.ToShortDateString())">
                <span class="fa fa-clock-o form-control-feedback"></span>
            </div>
            <input type="hidden" name="UserId" id="UserId" value="@Model.UserId" />
            <div class="form-group has-feedback">
                <textarea class="form-control" placeholder="Enter Address" id="Address" name="Address" required>@Model.Address</textarea>
                <span class="fa fa-address-book form-control-feedback"></span>
            </div>
            <div class="form-group">
                <div class="">
                    <label>Select Gender</label>
                    <div class="">
                        <div class="radio">
                            <label>
                                <input type="radio" name="gender" value="male" @(Model.Gender.ToLower().Contains("female") ? "" : "checked")>
                                Male
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="gender" value="female" @(Model.Gender.ToLower().Contains("female") ? "checked" : "")>
                                Female
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 right">
        <button type="button" class="btn btn-info" onclick="saveUser()">Save changes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>

<script>
    $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' // optional
    });
    $("#DOB").inputmask("m/d/y");

    $("#PhoneNumber").inputmask("9999-9999999");

    function saveUser() {
        const id = $("#UserId").val();
        const fname = $("#FirstName").val();
        const lname = $("#LastName").val();
        const gender = $("input[name='gender']:checked").val();
        const phonenumber = $("#PhoneNumber").val();
        const dob = $("#DOB").val();
        const address = $("#Address").val();
        ajaxPost("/api/User/UpdateUser/",
            {
                UserId: id,
                FirstName: fname,
                LastName: lname,
                Gender: gender,
                PhoneNumber: phonenumber,
                DOB: dob,
                Address: address
            },
            function (result) {
                if (result.message === "Success") {
                    showNotification("User Info Updated", NotificationEnum.Success);
                    try {
                        $("#row_fullname_user_" + id).val(fname + " " + lname);
                        $("#row_phone_user_" + id).val(phonenumber);
                    } catch (e) {

                    } 
                }
            },
            function (result) {
                showNotification("Error Updating User", NotificationEnum.Warning);
            });
    }

</script>